$(function(){
  <% if @status %>
  $('#platform<%= @platform.id.to_s %>').find('.status .label').html('<%=t("system.game_platforms.edit.game_platforms.status.#{@platform.status}") %>').attr('class','label label-<%= @platform.status %>')
  $('#platform<%= @platform.id.to_s %>').find('.status-option').removeClass('hidden');
  $('#platform<%= @platform.id.to_s %>').find('.status-<%= @platform.status %>').addClass('hidden');
  <% else %>
  alert('fail, try again please!');
  <% end %>
});