= content_tag_for(:tr, @user) do
  %td.font-xs{data: {th: t('.lobby_id')}}= link_to(@user.lobby_id, @user, class: 'font-gary')
  %td.font-xs{data: {th: t('.username')}}= @user.username
  %td.right{data: {th: t('.credit')}}
    %strong.font-danger= default_currency(@user.credit_left)
  - if false
    %td.left
      = link_to('+', new_user_deposit_path(@user, format: :js), method: :get, remote: true, class: 'btn btn-xs btn-default')
  %td.center.font-xs{data: {th: t('.create_date')}}
    = default_log_time(@user.created_at)
  %td.center.font-xs{th: t('.cashout_limit_at')}
    = default_log_time(@user.cashout_limit_at)
  %td.center.font-xs{data: {th: t('.last_action_at')}}
    - if @user.last_action_at.nil?
      \-
    - else
      = default_log_time(@user.last_action_at)
  %td.center.font-xs{data: {th: t('.current_sign_in_ip')}}
    - if @user.current_sign_in_ip.nil?
      \-
    - else
      = @user.current_sign_in_ip
  %td.center.font-xs{data: {th: t('.group')}}
    - if @user.user_group.nil?
      \-
    - else
      = @user.user_group.name
  %td.center{data: {th: t('.enabled')}}
    - if @user.lock?
      .font-danger.fa.fa-times
    - else
      .fa.fa-check
  - if (@user.agent).present?
    %td{data: {th: t('.agent')}}= link_to(@user.agent.username, @user.agent, class: 'btn btn-xs btn-default')
  - else
    %td.center --

  %td
    - if policy(:'user').log?
      -  if policy(:'user').update?
        .btn.btn-xs.btn-default= link_to(t('.edit'), edit_user_path(@user), class: 'btn btn-xs')
      .btn.btn-xs.btn-default= link_to(t('.logs'), user_logs_path(@user), class: 'btn btn-xs')
      - if policy(:history).all?
        .btn.btn-xs.btn-default= link_to(t('.details'), histories_game_index_path(role: {user_id: @user.id}), class: 'btn btn-xs')
      .btn.btn-xs.btn-default= link_to(t('.transfer_credit'), user_transfer_credit_path(@user), class: 'btn btn-xs')
  %td.font-xs
    .note.field
      = link_to(user_path(@user)) do
        = truncate(@user.note, length: 15, omission: '..')