- unless @bank.nil?
  .row
    = render 'agents/agent_header'
    .col-md-8.col-md-offset-2
      = bootstrap_form_for(@bank, url: agent_banks_path, html: { autocomplete: "off" }) do |f|
        = f.select :bank_id, select_bank_options
        = f.text_field :city
        = f.text_field :province
        = f.text_field :subbranch
        = f.text_field :account
        = f.password_field :security_code, autocomplete: 'off', help: t('shared.password_tips.keep_blank')
        = f.password_field :security_code_confirmation, autocomplete: 'off'
        = f.submit t('btn.save'), class: 'btn btn-success', data: { confirm: t('.confirm') }