= render_cell :withdraws, :filter_form, agent: @agent, begin_date: @begin_date, end_date: @end_date
%hr
.row
  - if @agent.present?
    = render_cell :agents, :information, agent: @agent
  .col-md-9
    .pull-right= link_to(t('.export'), export_agent_withdraws_path(format: "xlsx", agent: @agent, begin_date: @begin_date, end_date: @end_date), class: 'btn btn-default')
    .push-lg
    = render_cell :withdraws, :withdraw_list, agent: @agent, begin_date: @begin_date, end_date: @end_date
