= render_cell :finances, :filter_form, agent: @agent, begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id
%hr
.pull-right
  = link_to(t('.export'), export_finances_path(format: "xlsx", agent: @agent, begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id), class: 'btn btn-default')
.clearfix
.push-xs
= render_cell :finances, :cashout_list, agent: @agent, begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id
