#site_map.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('breadcrumbs.map')
      .modal-body
        = render_cell :dashboard, :site_map
      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
