(function(){
  $map = $("<%=j render('dashboard/site_map') %>");
  if ($('#site_map').size() > 0) {
    $('#site_map').html($map.html());
  } else {
    $('body').append($map);
  }
  $('#site_map').modal();
})();
