.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@message_form, url: message_path, method: :put) do |f|
      %legend= t('.title')
      .alert.alert-danger= t('.notice')
      = f.text_field :title, autofocus: true
      = f.text_area :content, class: 'redactor'
      = f.static_control :group_names
      = f.form_group do
        .text-right= f.submit t('btn.confirm')
    %hr
    %h4
      = t('.send_to')
      %small= t('.tips')
    - @users.each do |user|
      %span{class: user.read_at.nil? ? 'push-right-xs label label-default' : 'push-right-xs label label-success'}
        = link_to(user.username, user_path(user.id), class: 'font-white', data: {toggle: 'tooltip', placement: 'top'}, title: default_log_time(user.read_at))
    .push-lg
:javascript
  document.addEventListener("turbolinks:before-cache", function () {
      $('[data-toggle="tooltip"]').tooltip('hide');
  });