.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@message_form, url: messages_path, method: :post) do |f|
      %legend= t('.title')
      = f.text_field :title, autofocus: true
      = f.text_area :content, class: 'redactor'
      %hr
      %h4= t('.to.groups')
      .push-sm
      = f.collection_check_boxes :groups, UserGroup.all, :id, :name, hide_label: true
      %hr
      %h4= t('.to.single')
      .push-sm
      = f.text_field :username, control_col: 'col-sm-5', data: {autocomplete: autocomplete_user_username_messages_path, 'update-elements'=> '{}'}, value: ''
      - if false
        = f.text_field :agent_username, control_col: 'col-sm-5', data: {autocomplete: autocomplete_agent_username_messages_path, 'update-elements'=> '{}'}, value: ''
      = f.form_group do
        .pull-right= f.submit t('btn.confirm')
