.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for([:system, @admin], layout: :horizontal) do |f|
      %legend= t('.title', username: @admin.username)
      = f.error_summary
      = f.static_control :username
      = f.text_field :nickname, autofocus: true
      = f.password_field :password, help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation
      = f.form_group do
        = f.submit t('btn.save')
        - if @admin.lock?
          = link_to(t('.unlock'), unlock_system_admin_path(@admin), method: :post, confirm: t('.unlock_notice'), class: 'btn pull-right btn-danger')
        - else
          = link_to(t('.lock'), lock_system_admin_path(@admin), method: :post, confirm: t('.lock_notice'), class: 'btn pull-right btn-default')