= link_to(t('.add_admin'), new_system_admin_path, class: 'btn btn-default pull-right')
.clearfix
.push-xs
.table-rwd
  %table.table
    %thead
      %tr.success
        %th{width: 100}= t('.role')
        %th{width: 200}= t('.username')
        %th= t('.nickname')
        %th.center{width: 180}= t('.login')
        %th.center{width: 120}= t('.ip')
        %th.right{width: 90}= t('.login_count')
        %th.center{width: 70}= t('.status')
        %th.center{width: 100}= t('.operate')
    %tbody
      - if @admins.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - @admins.each do |admin|
        - cache [admin, I18n.locale] do
          %tr
            %td{data: {th: t('.role')}}
              .label.label-success= admin.human_role
            %td{data: {th: t('.username')}}= admin.username
            %td{data: {th: t('.nickname')}}= admin.nickname
            %td.center{data: {th: t('.login')}}= default_log_time(admin.current_sign_in_at) unless admin.current_sign_in_at.nil?
            %td.center{data: {th: t('.ip')}}= admin.current_sign_in_ip
            %td.right{data: {th: t('.login_count')}}= admin.sign_in_count
            %td.center{data: {th: t('.status')}}= icon_check(admin, :lock?, false)
            %td.center{data: {th: t('.operate')}}
              = link_to(t('btn.log'), system_admin_logs_path(admin), class: 'btn btn-xs btn-default')
              = link_to(t('btn.edit'), edit_system_admin_path(admin), class: 'btn btn-xs btn-default')
= will_paginate(@admins)