.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for([:system, @admin], layout: :horizontal) do |f|
      %fieldset
        %legend= t('.title')
        = f.error_summary
        = f.text_field :nickname, autofocus: true
        = f.text_field :username
        = f.password_field :password, required: true
        = f.password_field :password_confirmation
        = f.collection_radio_buttons :role, Admin.enable_roles, :first, :last
        = f.form_group do
          = f.submit t('btn.save')
