- if(activity.parameters[:to_enable] == true)
    = t(".platform_game_open", game: activity.parameters[:platform_game])
- else
    = t(".platform_game_close", game: activity.parameters[:platform_game])