= render 'game/setting_menu'
.row
  .col-md-3
    %table.table.table-bordered.table-hover.table-valign-middle
      %thead
        %tr.warning
          %th.center{rowspan: 2}= t('.lose_rate')
          %th.center{rowspan: 2}= t('.version')
          %th
      %tbody
        - @machines.each do |machine|
          %tr
            %td.center= "#{machine.lose_rate}%"
            %th.center{rowspan: 2}= machine.version.empty? ? '--' : machine.version
            %td.center
              = link_to(t('btn.edit'), edit_game_fishing_joy_machine_path(machine), class: 'btn btn-default btn-xs')
              - if machine.open?
                = link_to(t('btn.close'), close_game_fishing_joy_machine_path(machine), class: 'btn btn-danger btn-xs', data: { confirm: t('.confirm.close') })
              - else
                = link_to(t('btn.open'), open_game_fishing_joy_machine_path(machine), class: 'btn btn-default btn-xs', data: { confirm: t('.confirm.open') })