- cache [detail] do
  = content_tag_for(:tr, detail) do
    %td{data: {th: t('.id')}}= link_to(detail.trade_no, withdraw_path(detail, type: detail.cash_type))
    %td{data: {th: t('.player')}}= link_to(detail.user.lobby_id, detail.user, class: 'font-gary')
    %td.center{data: {th: t('.cash_type')}}= t("activerecord.enums.withdraw.cash_types.#{detail.cash_type}")
    %td.center{data: {th: t('.type')}}= t("activerecord.enums.withdraw.types.#{detail.type}")
    %td.center{data: {th: t('.currency')}}= detail.currency.nil? ? '--': detail.currency.name
    
    %td.right{data: {th: t('.credit')}}
      - if detail.type == :extra_deposit
        = default_currency(0.00)
      - else
        = default_currency(detail.credit)
    %td.right{data: {th: t('.credit_diff')}}
      - if detail.type == :extra_deposit
        = default_currency(detail.credit)
      - else
        = default_currency(detail.credit_diff)
    %td.center{data: {th: t('.status')}}= detail.human_status
    %td.right{data: {th: t('.amount')}}
      - if detail.type == :ace_pay
        = default_currency(detail.amount)
      - else
        \--
    %td{data: {th: t('.credit_actual')}, class: "right #{detail.cash_type == :deposit ? 'font-danger' : 'font-success'}"} 
      = default_currency(detail.credit_actual)
    %td.right{data: {th: t('.datetime')}}= default_log_time(detail.updated_at)
