.alert.alert-warning= "#{@begin_date} ~ #{@end_date}"
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 100}= t('.id')
        %th{width: 100}= t('.player')
        %th.center{width: 80}= t('.cash_type')
        %th.center{width: 80}= t('.type')
        %th.center{width: 80}= t('.currency')
        %th.right{width: 100}= t('.credit')
        %th.right{width: 100}= t('.credit_diff')
        %th.center{width: 100}= t('.status')
        %th.center{width: 100}= t('.amount')
        %th.right{width: 100}= t('.credit_actual')
        %th.right{width: 200}= t('.updated_at')
      %tbody
      - if @details.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      = render partial: 'reports/users/detail', collection: @details, locals: {type: @type}
      - if @details.current_page == @details.total_pages
        %tfoot
          %tr.warning
            %td= t('.total')
            %td.right{colspan: 5}
              - if params[:type] == 'deposit'
                = default_currency(@sum[:deposit][:credit_actual])
              - elsif params[:type] == 'cashout'
                = default_currency(@sum[:cashout][:credit_actual]) 
              - elsif params[:type] == 'dc_deposit'
                = default_currency(@sum[:dc_deposit][:credit]) 
              - elsif params[:type] == 'dc_cashout'
                = default_currency(@sum[:dc_cashout][:credit_actual]) 
              - elsif params[:type] == 'extra_list'
                = default_currency(@sum[:dc_deposit][:credit])
              - elsif params[:type] == 'sum'
                = default_currency(@sum[:deposit][:credit_actual] + @sum[:cashout][:credit_actual] + @sum[:dc_deposit][:credit] + @sum[:dc_cashout][:credit_actual])
              - else 
                = default_currency(0.00)
            %td.right
              - if  params[:type] == 'extra_list'
                = default_currency(@sum[:extra_deposit][:credit_diff])
              - elsif params[:type] == 'dc_deposit'
                = default_currency(@sum[:dc_deposit][:credit_diff])
              - elsif params[:type] == 'sum'
                = default_currency(@sum[:extra_deposit][:credit_diff] + @sum[:dc_deposit][:credit] - (@sum[:dc_deposit][:credit]))                
              - else
                = default_currency(0)  
            %td
            %td.right
              - if params[:type] == 'dc_deposit'
                = default_currency(@sum[:dc_deposit][:amount]) 
              - elsif params[:type] == 'dc_cashout'
                = default_currency(@sum[:dc_cashout][:amount])
              - elsif  params[:type] == 'extra_list'
                = default_currency(@sum[:dc_deposit][:amount] - @sum[:dc_cashout][:amount])
              - elsif  params[:type] == 'sum'
                = default_currency(@sum[:dc_deposit][:amount] - @sum[:dc_cashout][:amount])
              - else
                = default_currency('--')
            %td.right
              - if params[:type] == "deposit"
                = default_currency(@sum[:deposit][:credit_actual])
              - elsif params[:type] == 'cashout'
                = default_currency(@sum[:cashout][:credit_actual]) 
              - elsif params[:type] == 'extra_list'
                = default_currency(@sum[:extra_deposit][:credit_diff] + @sum[:dc_deposit][:credit])
              - elsif params[:type] == 'dc_deposit'
                = default_currency(@sum[:dc_deposit][:credit_actual])
              - elsif params[:type] == 'dc_cashout'
                = default_currency(@sum[:dc_cashout][:credit_actual])
              - else params[:type] == 'sum'
                = default_currency(@sum[:deposit][:credit_actual] + @sum[:cashout][:credit_actual] + @sum[:dc_deposit][:credit] + @sum[:dc_cashout][:credit_actual] + (@sum[:extra_deposit][:credit_diff] + @sum[:dc_deposit][:credit] - (@sum[:dc_deposit][:credit])))
            %td
= will_paginate(@details)