= form_tag('', class: 'form-inline form-date form-date-range', method: :get) do |f|
  .form-group
    = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
    = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
    %p
    = label_tag t('.lobby_id')
    = text_field_tag :lobby_id, @lobby_id, class: 'form-control', size: 24, id: "withdraw_username"
    = submit_tag t('btn.search'),class: "btn btn-default", name: nil
.push-xs
.row
  .col-md-4
    .table-rwd
      %table.table
        %thead
          %tr.success
            %th.center= t('.type')
            %th.center= t('.sum')
        %tbody
          - total_sum = 0
          - @withdraw.each do |type, sum|
            - total_sum += sum unless type == :dc_piece_deposit || type == :dc_piece_cashout
            %tr
              %td= t(".#{type}")
              - if type == :extra_deposit
                %td.right= link_to(sum, details_reports_users_path(type: 'extra_list', begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id))
              - else
                %td.right= link_to(sum, details_reports_users_path(type: type, begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id))
          -# %tr.active
          -#   %td= t(".administration")
          -#   %td.right= link_to(@withdraw[:comission] + @withdraw[:event_offer], details_reports_users_path(type: 'administration', begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id))
        %tfoot
          %tr.warning
            %td= t(".sum")
            %td.right= link_to(total_sum, details_reports_users_path(type: 'sum', begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id))
  .col-md-8
    .table-rwd
      %table.table
        %thead
          %tr.success
            %th.left= t('.currency')
            %th.right= t('.dc_piece_deposit')
            %th.right= t('.dc_deposit')
            %th.right= t('.extra_deposit')
            %th.right= t('.dc_piece_cashout')
            %th.right= t('.dc_cashout')
        %tbody
          - if @all_currency.empty?
            %tr
              %td{colspan: 6}= t('shared.no_data')
          - @all_currency.each do |keys, values|
            %tr
              - if values.values.uniq == [0.0]
                %td.left #{keys}
                - values.each do |key, value|
                  %td.right #{value}
              - else
                %td.left= link_to(keys, details_reports_users_path(type: 'dc_deposit_and_cashout', begin_date: @begin_date, end_date: @end_date, lobby_id: @lobby_id, currency: keys)) 
                - values.each do |key, value|
                  %td.right #{value}
  = render 'common/autocomplete_user_info'