.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead.bordered
      %tr.warning
        %th{rowspan: 2, width: 40} #
        %th{rowspan: 2, width: 130}= t('.model_name')
        %th.center{rowspan: 2}= t('.win_speed')
        - @cycle_sizes.each do |size|
          %th.center{colspan: 3}= t('.cycle', size: size)
        %th.center{rowspan: 2, width: 40}= t('.version')
        %th.center{rowspan: 2, width: 100}= t('.operate')
      %tr.warning
        - @cycle_sizes.each do |size|
          %th.right= t('.lose_rate')
          %th.right= t('.lose_trigger_amount')
          %th.right= t('.max_mutiple')
    %tbody
      - @machines.each do |machine|
        %tr
          %td{data: {th: '#'}}= machine.id
          %td{data: {th: t('.model_name')}}= machine.game_model_name
          %td.right{data: {th: t('.win_speed')}}= "#{machine.win_speed}%"
          - @cycle_sizes.each do |size|
            %td.right{data: {th: "#{t('.cycle', size: size)} - #{t('.lose_rate')}"}}= "#{machine["lose_rate_#{size}"] * 100}%"
            %td.right{data: {th: "#{t('.cycle', size: size)} - #{t('.lose_trigger_amount')}"}}= machine["lose_trigger_amount_#{size}"]
            %td.right{data: {th: "#{t('.cycle', size: size)} - #{t('.max_mutiple')}"}}= machine["max_mutiple_#{size}"]
          %td.center{data: {th: t('.version')}}= machine["version"].empty? ? '--' : machine["version"]
          %td.center{data: {th: t('.operate')}}
            = link_to(t('btn.edit'), send("edit_game_#{machine.game_type_name}_machine_path", machine), class: 'btn btn-default btn-xs')
            - if machine.open?
              = link_to(t('btn.close'), send("close_game_#{machine.game_type_name}_machine_path", machine), class: 'btn btn-danger btn-xs', data: { confirm: t('.confirm.close') })
            - else
              = link_to(t('btn.open'), send("open_game_#{machine.game_type_name}_machine_path", machine), class: 'btn btn-default btn-xs', data: { confirm: t('.confirm.open') })