.row
  .col-md-8.hidden-sm.hidden-xs
    = render_list class: 'nav nav-pills' do |li|
      - game_setting_paths.each do |game_name, path|
        - li << link_to(t("common.menu.setting.#{game_name}"), path)
  .col-md-4
    .pull-right= link_to(t('.edit_all_machines'), edit_all_game_slot_machines_path, class: 'btn btn-danger') if current_page?(game_slot_machines_path) || current_page?(game_root_path)
%hr