$(function(){
  $('#agent_withdraw_select').change(function(){
    var level_cd = $(this).val();
    $('.autocomplete_agent').addClass('hidden').find('input').prop('disabled', true);
    $('.autocomplete_agent.level-' + level_cd).removeClass('hidden').find('input').prop('disabled', false);
  });
  $('.autocomplete_agent input').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
    $.ajax({
      url: "<%= Rails.application.routes.url_helpers.agents_path %>/" + data.item.id,
      success: function(data){
        $('.username').html(data.username);
        $('.nickname').html(data.nickname);
        if (data.current_sign_in_at === undefined) {
          $('.login').html('--');
        } else {
          $('.login').html(data.current_sign_in_at);
        }
        if (data.current_sign_in_ip === null) {
          $('.ip').html('--');
        } else {
          $('.ip').html(data.current_sign_in_ip);
        }
        $('.points').html(data.points);
        if (data.parent_points == undefined) {
          $('.parent_points').parents('tr').addClass('hidden');
        }else{
          $('.parent_points').parents('tr').removeClass('hidden');
          $('.parent_points').html(data.parent_points);
        }
        $('#agent_data').removeClass('hidden');
      },
      dataType: 'json'
    });

  });
});