var update_children_options = function($elem, $target){
  $elem.on('change', function (e) {
    if ($(this).val() == ""){
      $target.html('<option value=> -- </option>').prop('disabled', true);
      $target.trigger('change');
    } else {
      $.ajax({
        url: "/agents/" + $(this).val() + "/get_children",
        success: function (resp) {
          $target.html('<option value=> -- </option>').prop('disabled', true);
          if (resp.length > 0) {
            $target.html('<option value=>All</option>');
            $.each(resp, function (index, agent) {
              $target.append('<option value="' + agent['id'] + '">' + agent['nickname'] + '</option>');
            })
            $target.prop('disabled', false).trigger('change');
          }
        },
        dataType: 'json'
      });
    }
  });
};
$(function(){
  update_children_options($('#selectShareholder'), $('#selectDirector'));
  update_children_options($('#selectDirector'), $('#selectAgent'));
  $('#financeSubmit').click(function(e){
    e.preventDefault();
    $('.agents-select').each(function(){
      if ($(this).val() == '') {
        $(this).prop('disabled', true);
      }
    });
    $('#financesForm').submit();
  });
});