var calCashoutLimit = function(){
    var credit = $('#withdraw_credit').val();
    var credit_diff = $('#withdraw_credit_diff').val();
    var multiple = $('#withdraw_cashout_limit').data('multiple');
    var cashout_limit = (parseFloat(credit) + parseFloat(credit_diff)) * multiple;
    $('#withdraw_cashout_limit').val(cashout_limit);
};
$(function(){
  $('#withdraw_username').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
    $.ajax({
      url: "<%= Rails.application.routes.url_helpers.users_path %>/" + data.item.id,
      success: function(data){
        $('.username').html(data.username);
        $('.nickname').html(data.nickname);
        if (data.current_sign_in_at === undefined) {
          $('.login').html('--');
        } else {
          $('.login').html(data.current_sign_in_at);
        }
        if (data.current_sign_in_ip === null) {
          $('.ip').html('--');
        } else {
          $('.ip').html(data.current_sign_in_ip);
        }
        $('.credit').html(data.credit_left);
        $('.lobby_id').html(data.lobby_id);
        $('.cashout_limit').html(data.bet_credit_sum + '/' + data.cashout_limit);
        $('#user_data').removeClass('hidden');
      },
      dataType: 'json'
    });

  });
  $('.multiple').click(function(){
    var multiple = $(this).data('multiple');
    $('#withdraw_cashout_limit').data('multiple', multiple);
    calCashoutLimit();
  });
  $('#withdraw_credit').keyup(function(){
    calCashoutLimit();
  });
  $('#withdraw_credit_diff').keyup(function(){
    calCashoutLimit();
  });
});