(function(){
  <% if @status %>
    $('#deposit').modal('hide');
    $('#user_'+<%= @user.id %>).replaceWith('<%=j render_cell :users, :list, user: @user %>')
  <% else %>
    $depositForm = $("<%=j render('deposit_form') %>")
    $('#deposit').html($depositForm.html());
  <% end %>
})();