.col-md-3
  .panel.panel-info
    .panel-heading= "#{current_admin.title}"
    %ul.list-group
      %li.list-group-item
        %h4.list-group-item-heading= t('.agents_count')
        %p.list-group-item-text
          = link_to(Agent.all.count, agents_path, class: 'btn btn-default')
      %li.list-group-item
        %h4.list-group-item-heading= t('.shareholder')
        %p.list-group-item-text
          = link_to(Agent.roots.size, agent_levels_path(agent_level: 'shareholder'), class: 'btn btn-default')
          = link_to(new_agent_path, class: 'btn btn-default') do
            %i.fa.fa-plus