- cache bet_form do
  = content_tag_for(:tr, bet_form) do
    %td{data: {th: t('.shop')}}= link_to(bet_form.agent.username, bet_form.user.agent, class: 'font-gary')
    %td{data: {th: t('.player')}}= link_to(bet_form.user.title, user_path(bet_form.user), method: :get, class: "font-gary")
    %td.right{data: {th: t('.company_win_amount')}}= currency_format(bet_form.shareholder_owe_parent)
    %td.right{data: {th: t('.shareholder_win_amount')}}= currency_format(bet_form.shareholder_win_amount)
    %td.right{data: {th: t('.director_win_amount')}}= currency_format(bet_form.director_win_amount)
    %td.right{data: {th: t('.agent_win_amount')}}= currency_format(bet_form.agent_win_amount)
    %td.right{data: {th: t('.bet_total_credit')}}= default_currency(bet_form.bet_total_credit)
    %td.right{data: {th: t('.reward_amount')}}= bonus_currency(bet_form.reward_amount)
    %td.center{data: {th: t('.ip')}}= bet_form.ip.nil? ? '-' : bet_form.ip
    %td.right{data: {th: t('.created_at')}}= default_log_time(bet_form.created_at)