.label.multiple
  &:hover
    color: #FFFFFF
    text-decoration: initial
    background-color: #1553AD
    cursor: pointer
.note
  width: 800px
  word-wrap: break-word
  overflow: hidden
  &.field
    width: 60px
.search-form
  label
    width: 80px
    text-align: right
    padding-right: 5px