.row
  .col-md-12
    = bootstrap_form_for(@slot_settings, as: :slot_settings, url: game_slot_jackpot_path) do |f|
      .col-md-4
        .panel.panel-danger
          .panel-heading
            = t('.primary_jackpot')
          .panel-body
            = f.static_control :jackpot_primary_max, label: t('.jackpot_primary_max')
            = f.number_field :jackpot_accumulate_rate, label: t('.jackpot_accumulate_rate'), help: t('.jackpot_accumulate_rate_help'), step: '0.001', autofocus: true
      .col-md-4
        .panel.panel-warning
          .panel-heading
            = t('.major_jackpot')
          .panel-body
            = f.number_field :jackpot_md_range_begin, label: t('.jackpot_range_begin')
            = f.number_field :jackpot_md_range_end, label: t('.jackpot_range_end')
            = f.number_field :jackpot_md_interval, label: t('.jackpot_interval')
      .col-md-4
        .panel.panel-success
          .panel-heading
            = t('.minor_jackpot')
          .panel-body
            = f.number_field :jackpot_sm_range_begin, label: t('.jackpot_range_begin')
            = f.number_field :jackpot_sm_range_end, label: t('.jackpot_range_end')
            = f.number_field :jackpot_sm_interval, label: t('.jackpot_interval')
      = f.form_group do
        = f.submit t('btn.save')
