= render 'game/setting_menu'
= render 'game/slot/setting_menu'
.row
  .col-md-3
    .panel.panel-info
      .panel-heading= t('.primary_jackpot')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.primary_max')
          %p.list-group-item-text= @slot_settings.jackpot_primary_max
        %li.list-group-item
          %h4.list-group-item-heading= t('.accumulate_rate')
          %p.list-group-item-text 
            .font-danger= @slot_settings.jackpot_accumulate_rate
  .col-md-3
    .panel.panel-info
      .panel-heading= t('.major_jackpot')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.range')
          %p.list-group-item-text
            = @slot_settings.jackpot_md_range_begin
            \~
            = @slot_settings.jackpot_md_range_end
        %li.list-group-item
          %h4.list-group-item-heading= t('.interval')
          %p.list-group-item-text= @slot_settings.jackpot_md_interval
  .col-md-3
    .panel.panel-info
      .panel-heading= t('.minor_jackpot')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.range')
          %p.list-group-item-text
            = @slot_settings.jackpot_sm_range_begin
            \~
            = @slot_settings.jackpot_sm_range_end
        %li.list-group-item
          %h4.list-group-item-heading= t('.interval')
          %p.list-group-item-text= @slot_settings.jackpot_sm_interval
  .col-md-3
    = link_to(t('btn.edit'), edit_game_slot_jackpot_path, class: 'btn btn-lg btn-default btn-block')