#parent_lock_notice.modal.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', username: @agent.title)
      .modal-body.center
        .push-xs
        .font-danger.font-lg
          = t('.notice')
      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
