(function(){
  $parentLockNotice = $("<%=j render('parent_lock_notice') %>");
  if ($('#parent_lock_notice').size() > 0) {
    $('#parent_lock_notice').html($parentLockNotice.html());
  } else {
    $('body').append($parentLockNotice);
  }
  $('#parent_lock_notice').modal();
})();
