.row
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 10} #
        %th.center{width: 50}= t('agents.index.type')
        %th{width: 80}= t('agents.index.username')
        %th= t('agents.index.nickname')
        %th.center{width: 50}= t('agents.index.enabled')
        %th.center{width: 50}= t('agents.index.reviewing')
        -# %th.right{width: 100}= t('.credit')
        -# %th.right{width: 100}= t('.credit_used')
        %th.right{width: 100}= t('.points')
        %th.right{width: 70}= t('agents.index.casino_ratio')
        %th.right{width: 80}= t('agents.index.users_count')
        %th.center{width: 110}= t('agents.index.childrens_count')
        - if current_page?(agent_cash_types_path)
          %th.center{width: 120}= t('agents.index.commission_at')
        %th.center{width: 50}= t('agents.index.user_permission')
        %th.center{width: 50}
    %tbody
      - if @agents.empty?
        %tr
          %td{colspan: 12}= t('shared.no_data')
      - @agents.each do |agent|
        = render_cell :agents, :list, agent: agent
= will_paginate(@agents)
