= content_tag_for(:tr, agent) do
  %td.font-xs{data: {th: '#'}}= agent.id
  %td{data: {th: 'type'}, class: "font-xs agent-#{agent.type} center"}= te agent, :type
  %td.font-xs{data: {th: t('.username')}}= agent.username
  %td.font-xs{data: {th: t('.name')}}= agent.name
  %td.font-xs{data: {th: t('.nickname')}}= agent.nickname
  %td.font-xs{data: {th: t('.mobile')}}= agent.mobile
  %td.font-xs{data: {th: t('.qq')}}= agent.qq
  %td.font-xs{data: {th: t('.email')}}= agent.email
  %td
    = link_to(t('btn.review_pass'), agent_apply_path(agent, format: :js), method: :patch, remote: true, class: 'btn btn-xs btn-success', data: {confirm: t('confirm.review', agent: agent.username)})
  %td
    = link_to(t('btn.edit'), edit_agent_path(agent), class: 'btn btn-xs btn-default')