.form-date-range
  .form-control[readonly]
    background-color: #FFF
    cursor: pointer
    
.form-date-range-noform
  .form-control[readonly]
    background-color: #FFF
    cursor: pointer

#cumulative_amount
  .modal-footer .confirm
    display: inline-block
  .modal-body td
    padding: 10px

.danger
  color: red
