.navbar-default
  // filter: blur(20px)
  opacity: .90

.navbar-brand
  padding: 0
  a
    color: $brand-gary !important
    text-decoration: none
    padding: 11px 15px
    display: block
    &:hover
      text-shadow: 0px 0px 1px #666

body
  padding-top: $navbar-height

nav#header
  background-color: #45bbbf
  a
    color: #FFF !important
    &:hover
      background-color: darken(#45bbbf, 10%)
  .dropdown-menu
    a
      color: #000 !important
      &:hover
        color: #FFF !important
#hot_menu
  position: fixed
  z-index: 9
  list-style: none
  margin: 5px
  padding: 5px
  right: 10px
  a:hover, a:focus
    text-decoration: none