#limit_table.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close game_result', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title
          = t('.title')
          = t(".limittype.#{@limittype}")
      .modal-body
        %table.table.table-hover.center
          %tr
            %th.center= t('.id')
            %th.center= t('.upper_limit')
            %th.center= t('.lower_limit')
          - @east_limit.each do |id, limit|
            %tr
              %td= id
              %td= limit['upper_limit']
              %td= limit['lower_limit']
      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
