.col-md-12
  .btn-group
    %ul.nav.nav-pills
      = nav_link(t('btn.edit'), edit_user_path(@user)) if policy(:user).update?
      = nav_link(t('.banks'), edit_user_banks_path(@user)) if @user.bank_account.present? && Setting.cash_site?
      = nav_link(t('btn.view'), @user)
      = nav_link(t('.histories_slots'), URI.decode(histories_game_index_path(role: {user_id: @user.id}))) if policy(:history).all?
      = nav_link(t('.logs'), user_logs_path(@user))
      = nav_link(t('.transfer_credit'), user_transfer_credit_path(@user))
      = nav_link(t('.withdraws'), user_withdraws_path(@user))
  - unless Setting.shop_site?
    .pull-right
      - unless Setting.api_site?
        - if policy(:game).all?
          = link_to(t('.bonus.little_mary'), new_user_bonuses_little_mary_path(@user, format: :js), method: :get, remote: true, class: 'btn btn-default')
          = link_to(t('.bonus.slot'), new_user_bonuses_slot_path(@user), class: 'btn btn-default')
      - if @user.lock?
        = link_to(t('.unlock'), user_locks_path(@user), method: :delete, class: 'btn btn-danger')
      - else
        = link_to(t('.lock'), user_locks_path(@user), method: :post, class: 'btn btn-default')
  %hr