= render 'user_header'
.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@form) do |f|
      = f.static_control :username
      = f.text_field :name
      = f.text_field :email
      = f.text_field :mobile
      = f.text_field :qq
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation, autocomplete: 'off'
      = f.text_area :note
      .pull-right= link_to(t('.add_group'), new_user_group_path(format: :js), method: :get, remote: true, class: 'btn btn-default btn-xs btn-danger')
      = f.collection_select :user_group_id, UserGroup.all, :id, :name, include_blank: t('agent.users.new.select_group'), selected: @user.user_group_id, label: t('activerecord.attributes.user.user_group.name'), autocomplete: 'off'
      - if false
        %hr
        %h4= t('game_platforms.east')
        = link_to(t('.limittype.video'), limit_table_users_path(limittype: 1, format: :js), remote: true, class: 'btn btn-danger')
        = link_to(t('.limittype.roulette'), limit_table_users_path(limittype: 2, format: :js), remote: true, class: 'btn btn-warning')
        .push-sm
        = f.fields_for @user_game_platformship do |game_platformship|
          = game_platformship.number_field :video_limit, min: 1
          = game_platformship.number_field :roulette_limit, min: 1
          %b= t('.game_limit')
          - @user_game_platformship.game_limit.split(',').each_with_index do |game_limit, index|
            = game_platformship.check_box :game_limit, { name: "user[user_game_platformship][game_limit][#{index}]", id: "user_user_game_platformship_game_limit_#{index}", label: (index + 1).to_s, value: game_limit.to_i, checked: game_limit.to_i == 1 ? true: false }
        %hr
      = f.submit t('btn.save'), class: 'btn btn-success'