- if @agent.present? && Setting.cash_site?
  .pull-right= link_to(t('.add_user'), new_agent_user_path(@agent), class: 'btn btn-default')
= form_tag('', class: 'form-inline form-date form-date-range-noform pull-left push-right-xs', method: :get) do |f|
  .form-group
    = select_tag :search_key, options_for_select([[t('.lobby_id'), 'id'], [t('.username'), 'username'], [t('.mobile'), 'mobile'], [t('.ip'), 'ip']], @search_key), class: 'form-control'
    = text_field_tag :query, (@search_key == 'group')? '': @query, class: 'form-control'
    &nbsp;&nbsp;&nbsp;&nbsp;
    = t('.create_date')
    = text_field_tag :begin_date, @begin_date, class: 'center form-control', size: 17, readonly: true
    \~
    = text_field_tag :end_date, @end_date, class: 'center form-control', size: 17, readonly: true
    = submit_tag t('btn.search'),class: "btn btn-default"
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 100}= sort_link('id', t('.lobby_id'))
        %th{width: 100}= sort_link('username', t('.username'))
        %th.right{width: 80}= sort_link('credit - credit_used', t('.credit'))
        - if false
          %th.left{width: 30}
        %th.center{width: 120}= sort_link('created_at', t('.create_date'))
        %th.center{width: 120}= sort_link('cashout_limit_at', t('.cashout_limit_at'))
        %th.center{width: 120}= sort_link('last_action_at', t('.last_action_at'))
        %th.center{width: 120}= sort_link('current_sign_in_ip', t('.current_sign_in_ip'))
        %th.center{width: 100}= t('.group')
        %th.center{width: 60}= t('.enabled')
        %th{width: 100}= sort_link('agents.username', t('.agent'))
        %th.center{width: 150}= t('.logs')
        %th.right{width: 60}= t('.note')
      %tbody
      - if @users.empty?
        %tr
          %td{colspan: 13}= t('shared.no_data')
      - @users.each do |user|
        = render_cell :users, :list, user: user
= will_paginate(@users)
- content_for :javascripts do
  = javascript_include_tag 'pages/users'