= search_form(:query, params[:query], request.path, placeholder: t('.search_placeholder'))
.table-rwd
  %table.table
    %thead
      %tr.success
        %th{width: 170}= t('.trackable')
        %th= t('.action')
        %th.center{width: 170}= t('.time')
        %th.center{width: 100}= t('.ip')
        %th.center{width: 100}= t('.agent')
        %th{width: 100}= t('.logs')
    %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @logs.each do |log|
        - cache [log.id, log.owner, log.trackable, I18n.locale] do
          %tr
            %td{data: {th: t('.trackable')}}= link_to(log.trackable.system_id, log.trackable , class: 'font-gary')
            %td{data: {th: t('.action')}}= render_activity(log)
            %td.center{data: {th: t('.time')}}= default_log_time(log.created_at)
            %td.center{data: {th: t('.ip')}}= log.parameters[:remote_ip]
            %td.center{data: {th: t('.agent')}}= link_to(log.trackable.agent.username, log.trackable.agent, class: 'btn btn-xs btn-default')
            %td.right{data: {th: t('.logs')}}= link_to(t('.logs'), user_logs_path(log.trackable.id), class: 'btn btn-xs')
-# = will_paginate(@logs)