= render 'user_header'
.row
  .col-md-12
    %table.table
      %tr.success
        %td{colspan: 2}= t('.title')
      %tr
        %th{width: 250}= t('.lobby_id')
        %td= @user.lobby_id
      %tr
        %th{width: 250}= t('.username')
        %td= @user.username
      %tr
        %th{width: 250}= t('.name')
        %td= @user.name
      %tr
        %th{width: 250}= t('.email')
        %td= @user.email
      %tr
        %th{width: 250}= t('.mobile')
        %td= @user.mobile
      %tr
        %th{width: 250}= t('.qq')
        %td= @user.qq
      %tr
        %th{width: 250}= t('.address')
        %td
          - @user.user_wallets.each do |wallet|
            .row
              .col-md-1
                %h5= wallet.type
              .col-md-2
                %h5= wallet.currency.name
              .col-md-5
                %input.form-control.font-xs{readonly: 'true', style: "width: 350px", value: wallet.address, id: "inputCopy#{wallet.currency.name}"}
              .col-md-2
                = link_to(t('btn.copy'), '', class: 'btn btn-default copy_button copy_me', data: {done: t('btn.copy_done'), currency: wallet.currency.name})
            .push-xs
      %tr
        %th{width: 250}= t('.group')
        %td
          - if @user.user_group.present?
            = @user.user_group.name
          - else
            \ --
      %tr
        %th= t('.last_action_at')
        %td
          - if @user.last_action_at.present?
            = default_log_time(@user.last_action_at)
          - else
            \ --
      %tr
        %th= t('.ip')
        %td
          - if @user.current_sign_in_ip.present?
            = @user.current_sign_in_ip
          - else
            \ --
      %tr
        %th= t('.note')
        %td
          .note= simple_format(@user.note)
      %tr
        %th= t('.credit')
        %td
          %strong.font-danger= default_currency(@user.credit_left)
      -# %tr
      -#   %th= t('.daily_cashin_count')
      -#   %td
      -#     %strong.font-danger= render_credit(@today_credits.deposits, 'count')
      -# %tr
      -#   %th= t('.daily_cashin')
      -#   %td
      -#     %strong.font-danger= render_credit(@today_credits.deposits, 'total')
      -# %tr
      -#   %th= t('.daily_cashout_count')
      -#   %td
      -#     %strong.font-danger= render_credit(@today_credits.cashouts, 'count')
      -# %tr
      -#   %th= t('.daily_cashout')
      -#   %td
      -#     %strong.font-danger= render_credit(@today_credits.cashouts, 'total')
      - @cumulative_credits.each do |sum|
        %tr
          %th= t(".#{sum.type}.count")
          %td= sum.count
        %tr
          %th= t(".#{sum.type}.total")
          %td= default_currency(sum.total)
        - if sum.type == :deposit
          %tr
            %th= t(".#{sum.type}.total_execpt_extra")
            %td= default_currency(sum.total - sum.extra_total)
          %tr
            %th= t(".#{sum.type}.extra_total")
            %td= default_currency(sum.extra_total)
      - @dc_cumulative_credits.each do |sum|
        %tr
          %th= t(".#{sum.type}.dc_count", currency: sum.currency.name)
          %td= sum.count
        %tr
          %th= t(".#{sum.type}.dc_total_execpt_extra", currency: sum.currency.name)
          %td= default_currency(sum.total - sum.extra_total)
        %tr
          %th= t(".#{sum.type}.dc_piece_total", currency: sum.currency.name)
          %td= default_currency(sum.dc_total)
  .col-md-12
    .push-md
    -# %table.table.platform_credit{data: {user: @user.id}}
    -#   %tr
    -#     %th.success= t('.platform')
    -#     %th.success= t('.credit')
    -#     %th.success= t('.today_bet')
    -#     %th.success= t('.bet_total')
    -#   - GamePlatform::IDS.each do |id|
    -#     - platform_id = id.split('_').last
    -#     %tr
    -#       %th= t("game_platforms.#{platform_id}")
    -#       %td
    -#         %strong.font-danger{class: platform_id} 载入中 ...
    -#       %td
    -#         %strong.font-danger= render_credit(@today_credits.send("bet_#{platform_id}s".to_sym), 'total')
    -#       %td
    -#         %strong.font-danger= render_credit(@cumulative_credits.send("bet_#{platform_id}s".to_sym), 'total')
    -#   %tr
    -#     %th= t('.play_total')
    -#     %td
    -#       %strong.font-danger= default_currency(@user.play_total)
    -# .push-md
  - if @user.bank_account.present? && Setting.cash_site?
    .col-md-12
      %table.table
        %tr.success
          %td{colspan: 2}= t('.bank_title')
        %tr
          %th{width: 250}= t('.bank_account.city')
          %td= @user.bank_account.city
        %tr
          %th{width: 250}= t('.bank_account.province')
          %td= @user.bank_account.province
        %tr
          %th{width: 250}= t('.bank_account.subbranch')
          %td= @user.bank_account.subbranch
        %tr
          %th{width: 250}= t('.bank_account.account')
          %td= @user.bank_account.account
      .push-md
  .col-md-12
    %table.table
      %tr.success
        %td= t('.agent')
        %td= t('.level')
        %td= t('.credit_max')
        %td= t('.credit_dispatched')
        %td= t('.casino_ratio')
      - @agents.each do |agent|
        - cache [agent, I18n.locale] do
          %tr
            %td= link_to(agent.nickname, agent, class: 'font-gary')
            %td= agent.human_agent_level
            %td= agent.credit_max
            %td= agent.credit_dispatched
            %td= agent.casino_ratio

- content_for :javascripts do
  = javascript_include_tag 'pages/user'