pusherMeta = $('meta#pusher')
pusher = new Pusher(pusherMeta.data('key'), authEndpoint: pusherMeta.data('authEndPoint'));

globalAdminChannel = pusher.subscribe('<%= Gambo::Channel::ADMIN %>')

globalAdminChannel.bind 'user_apply_cashout', (data) ->
  playAudio()
  $('#messageModal').modal()