= render 'histories/filter_bar', type: @type
.push-xs
- unless @bet_forms.empty?
  %hr
  .row
    .col-md-3
      %h5= t('.sum.bet_total_credit')
      %h4
        .font-lose= default_currency(@sum.bet_total_credit)
    .col-md-3
      %h5= t('.sum.valid_amount')
      %h4
        .font-lose= default_currency(@sum.valid_amount)
    .col-md-3
      %h5= t('.sum.reward_amount')
      %h4
        .font-lose= default_currency(@sum.reward_amount)
    .col-md-3
      %h5= t('.sum.user_credit_diff')
      %h4
        .font-lose= user_currency_format(@sum.user_credit_diff)
  %hr
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 100}= "#{t('.game_record_id')}/#{t('.order_number')}"
        %th{width: 60}= t('.game_platform')
        %th.center{width: 80}= t('.game_type')
        %th{width: 150}= "#{t('.agent')}/#{t('.user')}"
        -# %th.right{width: 60}= t('.company_win_amount')
        -# %th.right{width: 60}= t('.shareholder_win_amount')
        -# %th.right{width: 60}= t('.director_win_amount')
        -# %th.right{width: 60}= t('.agent_win_amount')
        %th.center{width: 80}= t('.game_kind')
        -# %th.right{width: 60}= t('.compensate_rate')
        %th.right{width: 60}= t('.bet_total_credit')
        %th.right{width: 60}= t('.valid_amount')
        %th.right{width: 60}= t('.reward_amount')
        %th.center{width: 60}= t('.result_type')
        %th.right{width: 60}= t('.user_credit_diff')
        -# %th.center{width: 60}= "#{t('.table_id')}/#{t('.stage')}/#{t('.inning')}"
        %th.center{width: 100}= t('.betting_at')
        %th.center{width: 60}
    - if @bet_forms.empty?
      %tr
        %td{colspan: 12}= t('shared.no_data')
    = render partial: 'bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
