.row
  .col-md-12.col-xs-12
    = form_tag('', class: 'form-inline form-date form-date-range pull-left push-right-xs', method: :get) do |f|
      .form-group
        = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
        = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
        - if params[:role].present?
          - params[:role].each do |key, value|
            = hidden_field_tag :role, value, name: "role[#{key}]"
        - if params[:type].present?
          = hidden_field_tag :type, type, name: "type"
        - if params[:category].present?
          = hidden_field_tag :category, type, name: "category"
        = submit_tag t('btn.search'),class: "btn btn-default"
  .col-md-10.col-xs-10.push-s
    = all_history_games_links({type: type, begin_date: @begin_date, end_date: @end_date, category: @category_id}, @role_search_params)
  -# .col-md-2.col-xs-2
  -#   %ul.nav
  -#     - if ['ag', 'mg', 'east', 'bbin'].include?(type)
  -#       %li.pull-right
  -#         = all_history_games_export_links({type: type, begin_date: @begin_date, end_date: @end_date, category: @category_id}, @role_search_params)
  .col-md-2.col-xs-12
    .right.font-xs= update_platform_time(@type)