= render 'game/setting_menu'
= render 'game/slot/setting_menu'
.table-rwd
  %table.table
    %thead
      %tr.danger
        %th.center{width: 100}= t('.type')
        %th{width: 160}= t('.machine')
        %th.right{width: 160}= t('.bonus')
        %th.right{width: 160}= t('.bonus_dispatched')
        %th.center{width: 200}= t('.create_time')
        %th.center{width: 200}= t('.done_time')
        %th{width: 50}= t('.operate')
    %tbody
      - if @bonuses.blank?
        %tr
          %td{colspan: 7}= t('shared.no_data')
      - @bonuses.each do |bonus|
        - cache [bonus, I18n.locale] do
          %tr
            %td.center{data: {th: t('.type')}}
              - case bonus.bonus_type
              - when :total then;
                %span.label.label-danger= bonus.human_bonus_type
              - when :primary then;
                %span.label.label-primary= bonus.human_bonus_type
              - when :major then;
                %span.label.label-success= bonus.human_bonus_type
              - when :minor then;
                %span.label.label-info= bonus.human_bonus_type
              - when :payout then;
                %span.label.label-warning= bonus.human_bonus_type
            %td{data: {th: t('.machine')}}
              - if bonus.machine.nil?
                = link_to(bonus.user.title, user_path(bonus.user), class: 'font-gary')
              - else
                = link_to(bonus.machine.title, machine_path(bonus.machine, format: :js), method: :get, remote: :true, class: 'font-gary')
            %td.right{data: {th: t('.bonus')}}= bonus.bonus
            %td.right{data: {th: t('.bonus_dispatched')}}= bonus.bonus_dispatched
            %td.center{data: {th: t('.create_time')}}= default_log_time(bonus.created_at)
            %td.center{data: {th: t('.done_time')}}
              - if bonus.done?
                = default_log_time(bonus.done_dispatched_at)
              - else
                \--
            %td.center{data: {th: t('.operate')}}
              - if bonus.done?
                \--
              - else
                = link_to(t('btn.remove'), game_slot_bonus_path(bonus), class: 'btn btn-default btn-xs', method: :delete, confirm: t('confirm.remove_bouns'))