#cumulative_amount.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close ', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-xs
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('admin_bank_account.edit_cumulative_amount')
      = bootstrap_form_for(account, url: edit_cumulative_amount_cash_flow_bank_account_path(account), method: :PATCH, layout: :horizontal) do |f|
        .modal-body
          %table.center
            %tr
              %td
                = t('admin_bank_account.cumulative_amount')
                \:
              %td= account.cumulative_amount
            %tr
              %td
                = t('admin_bank_account.edit_count')
                \:
              -if account.update_count >= account.limit_update_count
                %td
                  %span.danger
                    = account.update_count
                    = t('admin_bank_account.tips')
              -else
                %td
                  %span= account.update_count
            %tr
              %td
                = select_tag(:amount_action, options_for_select([[t('admin_bank_account.in'), "in"], [t('admin_bank_account.out'), "out"]], 0))
              %td= number_field_tag 'action_amount', 0.00, step: 0.01
            %tr
              %td
                = t('admin_bank_account.edit_amount')
                \:
              %td= number_field_tag 'edit_amount', account.cumulative_amount, step: 0.01

        .modal-footer
          = link_to(t('btn.close'), '' ,class: 'btn btn-danger run-and-close-modal', data: {dismiss: 'modal'})
          .confirm= f.submit t('btn.confirm'), class: 'btn btn-success'
