#operate_histories.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close ', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('logs.index.logs')
        .modal-body
          .table-rwd
            %table.table
              %thead
                %tr.success
                  %th{width: 70} #
                  %th{width: 200}= t('logs.index.owner')
                  %th= t('logs.index.action')
                  %th.center{width: 100, data: {priority: '3'}}= t('logs.index.ip')
                  %th.right{width: 170, data: {priority: '3'}}= t('logs.index.time')
              %tbody
                - if @logs.empty?
                  %tr
                    %td{colspan: 6}= t('shared.no_data')
                - @logs.each do |log|
                  - cache [log.id, log.owner, log.trackable, I18n.locale] do
                    %tr
                      %td{data: {th: '#'}}= log.id
                      %td{data: {th: t('logs.index.owner')}}= log.owner.system_id
                      %td{data: {th: t('logs.index.action')}}= render_activity(log)
                      %td.center{data: {th: t('logs.index.ip')}}= log.parameters[:remote_ip]
                      %td.right{data: {th: t('logs.index.time')}}= default_log_time(log.created_at)

        .modal-footer
          = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
