.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@account, url: cash_flow_bank_account_path(@account), method: :PATCH, layout: :horizontal) do |f|
      %legend= t('forms.admin_bank_account.edit')
      = f.select :bank_id, select_admin_bank_options
      = f.text_field :sub_bank_name, autofocus: true
      = f.text_field :title
      = f.text_field :account
      = f.number_field :limit_update_count
      = f.form_group(class: "form-inline") do
        = f.radio_button :deposit, 1, label: t('forms.admin_bank_account.deposit'), checked: @account.deposit
        = f.radio_button :deposit, 0, label: t('forms.admin_bank_account.withdraw'), checked: !@account.deposit
      = f.form_group(class: "form-inline") do
        = f.radio_button :open, 1, label: t('forms.admin_bank_account.open'), checked: @account.open
        = f.radio_button :open, 0, label: t('forms.admin_bank_account.close'), checked: !@account.open
      = f.form_group do
        .pull-right= f.submit t('btn.confirm')

