.col-md-12.col-xs-12.admin_bank_account
  %ul.nav
    %ul.nav.nav-pills
      %li.pull-left{class: ('active' if @category == '')}
        =link_to t('admin_bank_account.all'), cash_flow_bank_accounts_path
      %li.pull-left{class: ('active' if @category == 'deposit')}
        =link_to t('admin_bank_account.deposit'), cash_flow_bank_accounts_path(category: "deposit")
      %li.pull-left{class: ('active' if @category == 'withdraw')}
        =link_to t('admin_bank_account.withdraw'), cash_flow_bank_accounts_path(category: "withdraw")

      .pull-right
        =link_to new_cash_flow_bank_account_path do
          .btn.btn-default= t('admin_bank_account.add')

  .table-rwd.push-xs
    %table.table.table-valign-middle
      %thead
        %tr.success
          %th #
          %th= t('admin_bank_account.bank')
          %th= t('admin_bank_account.sub_bank')
          %th= t('admin_bank_account.account')
          %th= t('admin_bank_account.title')
          %th.right= t('admin_bank_account.cumulative_amount')
          %th.left{width: '10%'}
          %th= t('admin_bank_account.status')
          %th= t('admin_bank_account.operate')
      %tbody
        -@accounts.each do |account|
          %tr
            %td{data: {th: '#'}} #
            %td{data: {th: t('admin_bank_account.bank')}}= account.human_bank_title
            %td{data: {th: t('admin_bank_account.sub_bank')}}= account.sub_bank_name
            %td{data: {th: t('admin_bank_account.account')}}= account.account
            %td{data: {th: t('admin_bank_account.title')}}= account.title
            %td.right{data: {th: t('admin_bank_account.cumulative_amount')}}= currency_format(account.cumulative_amount)
            %td.left
              = link_to('+', cumulative_amount_cash_flow_bank_accounts_path(account: account, format: :js), method: :get, remote: true, class: 'btn btn-xs btn-default')
              = link_to(t('admin_bank_account.histories'), operate_histories_cash_flow_bank_accounts_path(account: account, type: 'cumulative_amount', format: :js), method: :get, remote: true)
            %td{data: {th: t('admin_bank_account.status')}}
              - if account.open
                %span.label.label-success= t('admin_bank_account.open')
              - else
                %span.label.label-danger= t('admin_bank_account.close')
            %td{data: {th: t('admin_bank_account.operate')}}
              = link_to(t('admin_bank_account.edit'), edit_cash_flow_bank_account_path(account), class: 'btn btn-xs btn-default')
  = will_paginate(@accounts)