(function(){
  // console.log("<%=j @logs.to_yaml%>");
  $("#operate_histories").remove();
  $operate_histories = $("<%=j render('cash_flow/bank_accounts/operate_histories', logs: @logs) %>");

  $('body').append($operate_histories);
  $('#operate_histories').modal();
})();

