.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@news) do |f|
      %legend= t('.title')
      = f.text_field :title, autofocus: true, required: true
      = f.text_area :content, required: true, class: 'redactor'
      .text-danger= f.check_box :important
      %hr
      %h5= t('.to')
      = f.form_group do
        = f.check_box :admin_port
        = f.check_box :agent_port
        = f.check_box :www_port
      = f.form_group do
        = f.submit t('btn.save')
