%ul.nav.pull-left
  %ul.nav.nav-pills
    %li= link_to(t('.all'), news_index_path)
    %li= link_to(t('.admin'), news_index_path(admin_port: 1))
    %li= link_to(t('.agent'), news_index_path(agent_port: 1))
    %li= link_to(t('.www'), news_index_path(www_port: 1))
.pull-right= link_to(t('.add_news'), new_news_path, class: 'btn btn-default')
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.title')
        %th.center{width: 60}= t('.admin')
        %th.center{width: 60}= t('.agent')
        %th.center{width: 60}= t('.www')
        %th.center{width: 80}= t('.important')
        %th.right{width: 200}= t('.time')
        %th{width: 100}
    %tbody
      - if @news.empty?
        %tr
          %td{colspan: 7}= t('shared.no_data')
      - @news.each do |news|
        %tr
          %td{data: {th: t('.title')}}= link_to(news.title, edit_news_path(news), class: 'font-gary')
          %td.center{data: {th: t('.admin')}}= icon_check(news, :admin_port?, true)
          %td.center{data: {th: t('.agent')}}= icon_check(news, :agent_port?, true)
          %td.center{data: {th: t('.www')}}= icon_check(news, :www_port?, true)
          %td.center{data: {th: t('.important')}}= icon_check(news, :important?, true)
          %td.right{data: {th: t('.time')}}= default_log_time(news.created_at)
          %td.right
            = link_to(t('.edit'), edit_news_path(news), class: 'btn btn-default btn-xs')
            = link_to(t('.remove'), news_path(news), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: t('.confirm.remove')})
= will_paginate(@news)