.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.title')
        %th.right{width: 200}= t('.time')
        %th{width: 60}
    %tbody
      - if @news.empty?
        %tr
          %td{colspan: 2}= t('shared.no_data')
      - @news.each do |news|
        %tr
          %td{data: {th: t('.title')}}= link_to(news.title, news_detail_path(news), class: 'font-gary')
          %td.right{data: {th: t('.time')}}= default_log_time(news.created_at)
          %td= link_to(t('btn.view'), news_detail_path(news), class: 'btn btn-default btn-xs')
= will_paginate(@news)