.col-md-12
  .btn-group
    %ul.nav.nav-pills
      = nav_link(t('btn.edit'), edit_agent_path(@agent))
      = nav_link(t('.banks'), edit_agent_banks_path(@agent)) unless @agent.bank_account.nil?
      - unless @agent.reviewing?
        = nav_link(t('btn.view'), @agent)
        = nav_link(t('.commission'), agent_commission_path(@agent)) if @agent.cash? && @agent.in_final_level?
        = nav_link(t('.histories_slots'), URI.decode(histories_game_index_path(role: {"#{@agent.agent_level}_id" => @agent.id})))
        = nav_link(t('.finances'), agent_finances_path(@agent))
        = nav_link(t('.action_logs'), agent_logs_path(@agent))
        = nav_link(t('.change_logs'), change_agent_logs_path(@agent))
        = nav_link(t('.withdraws_report'), agent_withdraws_path(@agent))
  - unless @agent.reviewing?
    .pull-right.hidden-xs
      = render_api_open_buttom(@agent) if @agent.in_final_level? && Setting.api_site?
      = render_user_permission_button(@agent)
      = render_lock_buttom(@agent)
    %hr.visible-xs
      .visible-xs
        = render_api_open_buttom(@agent) if @agent.in_final_level? && Setting.api_site?
        = render_user_permission_button(@agent)
        = render_lock_buttom(@agent)
  %hr