- if @form.parent.present?
  -# = f.number_field :credit_max, help: t('shared.credit_tip', agent: @form.parent.username, credit: default_currency(@form.parent.credit_max), dispatched: default_currency(@form.parent.credit_dispatched), undispatched: default_currency(@form.parent.credit_undispatched)), step: 0.01, min: 0
  - if @form.parent["type_cd"] == 0
    = f.number_field :casino_ratio, help: t('shared.ratio_tip', agent: @form.parent.username, ratio: @form.parent.casino_ratio)
  - else
    = f.number_field :casino_ratio, {:value => 100, :readonly => true}
- else
  -# = f.number_field :credit_max, step: 0.01, min: 0
  - if @type == 0
    = f.number_field :casino_ratio, help: t('shared.ratio_tip', agent: @form.username, ratio: @form.casino_ratio)
  - elsif @type == 1
    = f.number_field :casino_ratio, {:value => 100, :readonly => true}
  - else
    = f.number_field :casino_ratio
= javascript_include_tag 'pages/agent_new'