.row
  = render 'agent_header'
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@form, layout: :horizontal) do |f|
      -# %legend= t('.title')
      = f.static_control :username
      = f.password_field :password, help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation
      = render 'finances_form', f: f
      %hr
      = f.text_field :name, autofocus: true
      = f.text_field :nickname, autofocus: true
      = f.text_field :mobile, autofocus: true
      = f.text_field :qq, autofocus: true
      = f.email_field :email, autofocus: true
      = f.form_group do
        = f.submit t('btn.save'), :id => 'sureForChange'
        
#confirmForChange(class="modal" tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-header(style="display: flex; justify-content: space-between;")
        .modal-title= t('.edit_confirmation')
        %button(type="button" class="close" data-dismiss="modal" aria-label="Close") Ｘ
      .modal-body
        %p= t('.confirmation_notes')
      .modal-footer
        %button(class="btn btn-default confirm-for-change-sure")= t('btn.confirm')
        %button(class="btn btn-danger" data-dismiss="modal")= t('btn.close')
= javascript_include_tag 'pages/agent_edit'
