.row
  .col-xs-9= render_cell :agents, :filter_bar, value: params[:query]
  .col-xs-3= link_to(t('.add_shareholder'), new_agent_path, class: 'btn btn-default pull-right btn-danger btn-hover')
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 40} #
        %th.center{width: 50}= t('.type')
        %th{width: 80}= t('.username')
        %th= t('.nickname')
        %th.center{width: 50}= t('.enabled')
        %th.center{width: 50}= t('.reviewing')
        %th.center{width: 50}= t('.points')
        -# %th.right{width: 100}= t('.credit')
        -# %th.right{width: 100}= t('.credit_used')
        %th.right{width: 80}= t('.casino_ratio')
        %th.right{width: 80}= t('.users_count')
        %th.center{width: 120}= t('.childrens_count')
        %th.center{width: 50}= t('.user_permission')
        %th.center{width: 50}
    %tbody
      - if @agents.empty?
        %tr
          %td{colspan: 10}= t('shared.no_data')
      - @agents.each do |agent|
        = render_cell :agents, :list, agent: agent
= will_paginate(@agents)
