.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@form, layout: :horizontal) do |f|
      %legend= t('.title')
      = f.select :type_cd, enum_option_pairs(Agent, :type, true), help: t('.type_tips')
      = f.text_field :nickname, autofocus: true
      = f.text_field :username
      = f.password_field :password
      = f.password_field :password_confirmation
      = render 'finances_form', f: f
      = f.form_group do
        = f.submit t('btn.save')
