- cache [@agent, I18n.locale] do
  .row
    = render 'agent_header'
    = render_cell :agents, :information, agent: @agent
    .col-md-9
      .panel.panel-warning
        .panel-heading= t('.finances_title')
        = render_cell :agents, :finances, cashout_stats: @cashout_stats, agent: @agent
        // - .panel.panel-warning
        // -   .panel-heading= t('.logs_title')
        // -   = render template: 'logs/index'
        -# .panel.panel-warning
        -#   .panel-heading= t('.withdraws_title')
        -#   = render_cell :agents, :withdraws, withdraw_stats: @withdraw_stats, agent: @agent