- cache racing_bet_form do
  = content_tag_for(:tr, racing_bet_form) do
    - if racing_bet_form.user.nil?
      %td= link_to(racing_bet_form.agent.username, racing_bet_form.machine.agent, class: 'font-gary')
      %td= link_to(racing_bet_form.machine.title, machine_path(racing_bet_form.machine, format: :js), method: :get, remote: :true, class: racing_bet_form.machine.deleted? ? 'font-disable' : 'font-gary')
    - else
      %td= link_to(racing_bet_form.user.agent.username, racing_bet_form.user.agent, class: 'font-gary')
      %td= link_to(racing_bet_form.user.title, user_path(racing_bet_form.user), method: :get, class: 'font-gary')
    %td.right= currency_format(racing_bet_form.shareholder_owe_parent)
    %td.right= currency_format(racing_bet_form.shareholder_win_amount)
    %td.right= currency_format(racing_bet_form.director_win_amount)
    %td.right= currency_format(racing_bet_form.agent_win_amount)
    %td.right= default_currency(racing_bet_form.bet_total_credit)
    %td.right= bonus_currency(racing_bet_form.reward_amount)
    %td.right= link_to(racing_bet_form.racing_sub_bet_forms.size, histories_racing_path(racing_bet_form, format: :js), method: :get, remote: :true, class: 'font-gary')
    %td.right= default_log_time(racing_bet_form.created_at)