= render 'histories/filter_bar', type: 'racing'
.push-xs
.table-responsive{data: {pattern: "priority-columns"}}
  %table.table.table-valign-middle.table-font-sm.table-hover
    %thead
      %tr.success
        %th{width: 80, data: {priority: '3'}}= t('.shop')
        %th= t('.player')
        %th.right{width: 80}= t('.company_win_amount')
        %th.right{width: 80, data: {priority: '6'}}= t('.shareholder_win_amount')
        %th.right{width: 80, data: {priority: '6'}}= t('.director_win_amount')
        %th.right{width: 80, data: {priority: '6'}}= t('.agent_win_amount')
        %th.right{width: 130}= t('.bet_total_credit')
        %th.right{width: 70, data: {priority: '3'}}= t('.reward_amount')
        %th.right{width: 70, data: {priority: '3'}}= t('.bet_count')
        %th.center{width: 130}= t('.created_at')
    %tbody
      - if @bet_forms.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      = render partial: 'racing_bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
