(function(){
  $sub_bet_forms = $("<%=j render 'racing_sub_bet_forms' %>");
  if ($('#sub_bet_forms').size() > 0) {
    $('#sub_bet_forms').html($sub_bet_forms.html());
  } else {
    $('body').append($sub_bet_forms);
  }
  $('#sub_bet_forms').modal();
})();