#myModal.modal.fade{:role => "dialog", :tabindex => "-1", id: withdraw.trade_no}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3= t('.title_cashout')
        %ul.list-group
          %li.list-group-item.left
            %strong= t('withdraws.index.id')
            = withdraw.trade_no
          %li.list-group-item.left
            %strong= t('.name')
            = withdraw.user.name
          %li.list-group-item.left
            %strong= t('.amount')
            %strong.font-danger= default_currency(withdraw.credit)
          %li.list-group-item.left
            %strong= t('.datetime')
            = default_log_time(withdraw.created_at)
        %h3= t('.title_account')
        %ul.list-group
          %li.list-group-item.left
            %strong= t('.name')
            = withdraw.bank_account_info[:title]
          %li.list-group-item.left
            %strong= t('.mobile')
            = withdraw.user.mobile
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:bank_id)
            - if withdraw.bank_account_info[:bank_id].present?
              = t("bank_accounts.bank_title.#{withdraw.bank_account_info[:bank_id]}")
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:city)
            = withdraw.bank_account_info[:city]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:province)
            = withdraw.bank_account_info[:province]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:subbranch)
            = withdraw.bank_account_info[:subbranch]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:account)
            = withdraw.bank_account_info[:account]
        .modal-footer
          %form{:action => funpay_withdraw_statuses_url(cashout_id: withdraw.id, type: 'cashout'), :method => "post", :name => "frm1"}
            %button.btn.btn-primary{type: "submit"}= t('btn.submit')
            %button.btn.btn-default{data: {dismiss: "modal", type: 'button'}}= t('btn.close')