= content_tag_for(:tr, digital_currency) do
  %td{data: {th: t('.id')}}= link_to(digital_currency.trade_no, withdraw_path(digital_currency, type: type))
  %td{data: {th: t('.lobby_id')}}= link_to(digital_currency.user.lobby_id, digital_currency.user, class: 'font-gary')
  %td.right{data: {th: t('.credit')}}= default_currency(digital_currency.credit)
  %td.right{data: {th: t('.amount')}}= default_currency(digital_currency.amount)
  %td.right{data: {th: t('.datetime')}}= default_log_time(digital_currency.created_at)
  %td.center{data: {th: t('.status')}}= digital_currency.human_status
  %td.center
    - if digital_currency.user.agent.is_points_type?
      \--
    - else
      - if digital_currency.may_proccess? || digital_currency.may_finish? || digital_currency.may_reject? || digital_currency.may_remove? || digital_currency.transaction_processing?
        = link_to(t('withdraws.withdraw.proccessing'), withdraw_path(digital_currency, status: 'proccessing', type: type, view_page: 'digital_currency'), method: :put, data: { confirm: t("withdraws.withdraw.#{type}_proccessing_confirm") }, class: 'btn btn-primary btn-xs') if digital_currency.may_proccess?
        = link_to(t('withdraws.withdraw.transfer'), withdraw_path(digital_currency, status: 'transferred', type: type, view_page: 'digital_currency'), method: :put, data: { confirm: t("withdraws.withdraw.#{type}_transfer_confirm") }, class: 'btn btn-success btn-xs') if digital_currency.may_finish? && !digital_currency.transaction_processing?
      - else
        \--
  %td.center
    - if digital_currency.may_remove? && !digital_currency.user.agent.is_points_type?
      = link_to(t('withdraws.withdraw.remove'), withdraw_path(digital_currency, status: 'removed', type: type, view_page: 'digital_currency'), method: :delete, data: { confirm: t("withdraws.withdraw.#{type}_remove_confirm") }, class: 'btn btn-danger btn-xs')
    - else
      \--
  %td.center
    = link_to(t('withdraws.withdraw.transfer_credit_logs'), user_transfer_credit_path(digital_currency.user))