%ul.nav
  .pull-right
    / filter bar
    %ul{class: 'nav nav-pills pull-left push-right-xs'}
      %li= nav_link(t('.all'), withdraws_path(type: type, view_page: view_page), class: 'hidden-sm hidden-xs')
      -# pc
      - Withdraw.statuses.each do |status, id|
        - unless type == 'cashout' && (status == 'waiting_to_deposit' || status == 'cancelled')
          %li= nav_link(t("activerecord.enums.withdraw.status.#{status}"), withdraw_statuses_path(status: status, type: type, view_page: view_page), class: 'hidden-sm hidden-xs')
      -# mobile
      %li{role: "presentation", class: "dropdown hidden-md hidden-lg"}
        = link_to(withdraws_path(type: type), class: "dropdown-toggle", data: {toggle:"dropdown"}, href: "#" ,role: "button", aria: {haspopup: "true", expanded: "false"}) do
          = t('.select')
          %span.caret
        %ul.dropdown-menu
          %li= nav_link(t('.all'), withdraws_path(type: type))
          - Withdraw.statuses.each do |status, id|
            %li= nav_link(t("activerecord.enums.withdraw.status.#{status}"), withdraw_statuses_path(status: status,type: type, view_page: view_page))
  / search form
  = search_form_type(:query, params[:query], withdraws_path, type, placeholder: t('.search_placeholder'))
.push-xs
