#withdrawFinish.modal.fade{:role => "dialog", :tabindex => "-1", id: withdraw.trade_no}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3= t(".title_#{type}")
        %ul.list-group
          %li.list-group-item.left
            %strong= t('withdraws.index.id')
            = withdraw.trade_no
          %li.list-group-item.left
            %strong= t('.name')
            = withdraw.user.name
          %li.list-group-item.left
            %strong= t('.amount')
            %strong.font-danger= default_currency(withdraw.credit)
          %li.list-group-item.left
            %strong= t('.datetime')
            = default_log_time(withdraw.created_at)
        %h3= t('.title_account')
        %ul.list-group
          %li.list-group-item.left
            %strong= t('.name')
            = withdraw.bank_account_info[:title]
          %li.list-group-item.left
            %strong= t('.mobile')
            = withdraw.user.mobile
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:bank_id)
            - if withdraw.bank_account_info[:bank_id].present?
              = t("bank_accounts.bank_title.#{withdraw.bank_account_info[:bank_id]}")
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:city)
            = withdraw.bank_account_info[:city]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:province)
            = withdraw.bank_account_info[:province]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:subbranch)
            = withdraw.bank_account_info[:subbranch]
          %li.list-group-item.left
            %strong= BankAccount.human_attribute_name(:account)
            = withdraw.bank_account_info[:account]
        = bootstrap_form_for(withdraw, url: withdraw_path(withdraw, status: 'transferred', type: type), method: :put) do |f|
          = f.text_area :note
          = f.text_area :admin_note
          = f.form_group do
            = f.submit t('btn.confirm'), class: 'btn btn-success', data: { confirm: t("withdraws.withdraw.#{type}_transfer_confirm") }