= content_tag_for(:tr, withdraw) do
  %td{data: {th: t('.id')}}= link_to(withdraw.trade_no, withdraw_path(withdraw, type: type))
  %td{data: {th: t('.player')}}= link_to(withdraw.user.lobby_id, withdraw.user, class: 'font-gary')
  %td{data: {th: t('.type')}}= t("activerecord.enums.withdraw.types.#{withdraw.type}")
  %td.right{data: {th: t('.amount')}}= default_currency(withdraw.credit)
  %td.right{data: {th: t('.datetime')}}= default_log_time(withdraw.created_at)
  %td.right{data: {th: t('.update_time')}}
    -if withdraw.created_at < withdraw.updated_at
      = default_log_time(withdraw.updated_at)
    - else
      \--
  %td.center{data: {th: t('.status')}}= withdraw.human_status
  %td.center
    - if withdraw.user.agent.is_points_type?
      \--
    - else
      - if withdraw.may_proccess? || withdraw.may_finish? || withdraw.may_reject? || withdraw.may_remove?
        = link_to(t('.proccessing'), withdraw_path(withdraw, status: 'proccessing', type: type, view_page: ''), method: :put, data: { confirm: t(".#{type}_proccessing_confirm") }, class: 'btn btn-primary btn-xs') if withdraw.may_proccess?
        = link_to(t('.transfer'), withdraw_path(withdraw, status: 'transferred', type: type, view_page: ''), method: :put, data: { confirm: t(".#{type}_transfer_confirm") }, class: 'btn btn-success btn-xs') if withdraw.may_finish? && !withdraw.transaction_processing?
        -# - if withdraw.may_finish?
        -#   %button.btn.btn-success.btn-xs{"data-target" => "#withdrawFinish_#{withdraw.trade_no}", "data-toggle" => "modal", :type => "button"}= t('.transfer')
        -#   = render 'withdraws/finish', withdraw: withdraw, type: type
        -# = link_to(t('.reject'), withdraw_path(withdraw, status: 'rejected', type: type), method: :delete, data: { confirm: t(".#{type}_reject_confirm") }, class: 'btn btn-warning btn-xs') if withdraw.may_reject?
        -# - if type == 'cashout' && withdraw.status == 'proccessing'
        -#   %button.btn.btn-primary.btn-xs{"data-target" => "#myModal_#{withdraw.trade_no}", "data-toggle" => "modal", :type => "button"}= t('.cashout')
        -#   = render 'withdraws/cashout_deal', withdraw: withdraw
      - else
        \--
  %td.center
    - if withdraw.may_remove? && !withdraw.user.agent.is_points_type?
      = link_to(t('.remove'), withdraw_path(withdraw, status: 'removed', type: type, view_page: ''), method: :delete, data: { confirm: t(".#{type}_remove_confirm") }, class: 'btn btn-danger btn-xs')
    - else
      \--