= render('withdraws/filter_bar', type: @type, view_page: '')
-if @type == 'cashout'
  .alert.alert-warning= t('.warning_text')
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 60}= t('.id')
        %th{width: 120}= t('.lobby_id')
        %th{width: 80}= t('.type')
        %th.right{width: 50}= t('.amount')
        %th.right{width: 100}= t('.datetime')
        %th.right{width: 100}= t('.update_time')
        %th.center{width: 80}= t('.status')
        %th.center{width: 100}
        %th.center{width: 50}
    %tbody
      - if @withdraws.empty?
        %tr
          %td{colspan: 10}= t('shared.no_data')
      = render partial: 'withdraws/withdraw', collection: @withdraws, locals: {type: @type}
= will_paginate(@withdraws)
