.row
  .col-md-8.col-md-offset-2
    - if @type == 'cashout'
      %h3= t('.cashout')
    - elsif @type == 'deposit'
      %h3= t('.deposit')
    %ul.list-group
      %li.list-group-item
        %strong= t('.id')
        %strong= @withdraw.order_id
      %li.list-group-item
        %strong= t('.player')
        = link_to(@withdraw.user.title, @withdraw.user, class: 'font-gary')
      %li.list-group-item
        %strong= t('.status')
        .label.label-danger= @withdraw.human_status
      %li.list-group-item
        - if @type == 'cashout'
          %strong= t('.credit')
        - elsif @type == 'deposit'
          %strong= t('.amount_in')
        %strong.font-success= default_currency(@withdraw.credit)
      - if @type == 'cashout'
        %li.list-group-item
          %strong= t('.amount')
          %strong.font-success= default_currency(@withdraw.amount)
        %li.list-group-item
          %strong= t('.to_address')
          %strong.font-warning= @withdraw.to_address
      %li.list-group-item
        %strong= t('.created_at')
        %strong.font-success= default_log_time(@withdraw.created_at)
      %li.list-group-item
        %strong= t('.updated_at')
        %strong.font-success= default_log_time(@withdraw.updated_at)
      - unless @withdraw.note.nil?
        %li.list-group-item
          %strong= t('.note')
          %p
          = simple_format(@withdraw.note)
      - unless @withdraw.admin_note.nil?
        %li.list-group-item
          %strong= t('.admin_note')
          %p
          = simple_format(@withdraw.admin_note)

    %h3= t('.title_account')
    %ul.list-group
      %li.list-group-item.left
        %strong= t('.name')
        = @withdraw.bank_account_info[:title]
      %li.list-group-item.left
        %strong= t('.mobile')
        = @withdraw.user.mobile
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:bank_id)
        - if @withdraw.bank_account_info[:bank_id].present?
          = t("bank_accounts.bank_title.#{@withdraw.bank_account_info[:bank_id]}")
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:city)
        = @withdraw.bank_account_info[:city]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:province)
        = @withdraw.bank_account_info[:province]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:subbranch)
        = @withdraw.bank_account_info[:subbranch]
      %li.list-group-item.left
        %strong= BankAccount.human_attribute_name(:account)
        = @withdraw.bank_account_info[:account]