.row
  .col-md-10
    = bootstrap_form_for([:system, @config], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9') do |f|
      = f.text_field :agent_marquee, autofocus: true
      = f.text_field :lobby_marquee, autofocus: true  if Setting.shop_site?
      = f.text_field :cash_marquee, autofocus: true if Setting.cash_site?
      = f.number_field :base_jp, min: 0, max: 99999999.9999, step: 0.001
      = f.number_field :jp_reset, min: 0, max: 99999999.9999, step: 0.001
      = f.number_field :jp_rate,  min: 0, max: 100, step: 0.01
      = f.number_field :jp_primary, readonly: true
      = f.number_field :bet_total_credit, readonly: true
      = f.form_group label_col: 'col-md-3', control_col: 'col-md-9' do
        = f.check_box :agent_maintenance
        = f.check_box :lobby_maintenance if Setting.shop_site?
        = f.check_box :cash_maintenance
        .push-xs
        = f.submit t('btn.save')
    %hr
  .col-md-10
    = link_to(t('.cal_cumulative_credits'), system_cal_cumulative_credits_path(format: :js), method: :post, remote: true, class: 'btn btn-danger', data: {confirm: t('.confirm.cal_cumulative_credits'), disable_with: t('.disable_with')})
