.nav-with-form
  .hidden-xs.hidden-sm
    / filter bar
    = render_list class: 'nav nav-pills pull-left push-right-xs' do |li|
      - li << link_to(t('.all'), agents_path)
      - enum_option_pairs(Agent, :agent_levels).each do |level, agent_level|
        - li << link_to(level, agent_levels_path(agent_level: agent_level))
  / search form
  = search_form(:query, @value, agents_path, placeholder: t('.search_placeholder'))
.push-xs
.clearfix