.table-rwd
  %table.table
    %thead
      %tr.success
        %th= t('.date')
        %th.right= t('.jackpot')
        %th.right= t('.revenue')
        %th.right= t('.valid_amount')
        %th.right= t('.self_profit')
        %th.right{width: 40}
    %tbody
      - if @cashout_stats.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @cashout_stats.each do |cashout|
        %tr
          %td{data: {th: t('.date')}}= cashout[:date]
          %td.right{data: {th: t('.jackpot')}}= currency_format(cashout[:jackpot_amount])
          %td.right{data: {th: t('.revenue')}}
            - if @agent.in_final_level?
              = currency_format(cashout[:profit_amount])
              \/
              = default_currency(cashout[:bet_amount])
            - else
              = currency_format(cashout[:profit_amount])
              \/
              = default_currency(cashout[:bet_amount])
          %td.right{data: {th: t('.valid_amount')}}= currency_format(cashout[:valid_amount])
          %td.right{data: {th: t('.self_profit')}}= currency_format(cashout[:win_amount])
          %td.center= link_to(t('.details'), histories_game_index_path(role: {"#{@agent.agent_level}_id" => @agent.id}, begin_date: cashout[:date], end_date: cashout[:date]), class: 'btn btn-xs')
