.col-md-3
  .panel.panel-info
    - if false
      .panel-heading= @agent.system_id
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.credit_max')
          %p.list-group-item-text= default_currency(@agent.credit_max)
        %li.list-group-item
          %h4.list-group-item-heading= t('.credit_dispatched')
          %p.list-group-item-text= default_currency(@agent.credit_dispatched)
        %li.list-group-item
          %h4.list-group-item-heading= t('.casino_ratio')
          %p.list-group-item-text= "#{@agent.casino_ratio}%"
    - if @agent.in_final_level?
      - if @agent.open_api? && Setting.api_site?
        .panel-heading= t('.api_info')
        %ul.list-group
          %li.list-group-item
            %h4.list-group-item-heading= t('.account_id')
            %input.form-control.font-xs.input-lg.input-block{value: @agent.account_id}
            .push-xs
            %h4.list-group-item-heading= t('.secret_key')
            %input.form-control.font-xs.input-lg.input-block{value: @agent.secret_key}
      - if Setting.cash_site? && !Setting.api_site?
        .panel-heading= t('.promo_link')
        %ul.list-group
          %li.list-group-item
            - if @agent.recommend_code.present?
              %input.form-control.font-xs.input-lg.input-block#input-copy{value: agent_promo_url(@agent)}
              .push-xs
              -# = copy_button(agent_promo_url(@agent), class: 'btn btn-default btn-block')
              = link_to(t('btn.copy'), '', class: 'btn btn-default btn-block copy_button copy_me', data: {done: t('btn.copy_done')})
            - else
              = link_to(t('.reset_recommend_code'), agent_recommend_codes_path(@agent), method: :post, class: 'btn btn-default')
        .panel-heading= t('.information')
        %ul.list-group
          %li.list-group-item
            %h4.list-group-item-heading= t('.users')
            %p.list-group-item-text
              = link_to(@agent.users.size, agent_users_path(@agent), class: 'btn btn-default')
              = link_to(new_agent_user_path(@agent), class: 'btn btn-default') do
                %i.fa.fa-plus
    - else
      .panel-heading= t('.information')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.agents_count')
          %p.list-group-item-text
            = link_to(@agent.total_agents_count, agent_childs_path(@agent), class: 'btn btn-default')
        %li.list-group-item
          %h4.list-group-item-heading= t('.childrens')
          %p.list-group-item-text
            = link_to(@agent.children.size, agent_childs_path(@agent), class: 'btn btn-default')
            = link_to(new_agent_child_path(@agent), class: 'btn btn-default') do
              %i.fa.fa-plus