%tr
  %td.font-xs{data: {th: '#'}}= @agent.id
  %td{data: {th: 'type'}, class: "font-xs agent-#{@agent.type} center"}= te @agent, :type
  %td.font-xs{data: {th: t('.username')}}= link_to(@agent.username, @agent, class: 'font-gary')
  %td.font-xs{data: {th: t('.nickname')}}= link_to(@agent.title, @agent, class: 'font-gary')
  %td.font-xs.center{data: {th: t('.enabled')}}= icon_check(@agent, :lock?, false)
  %td.font-xs.center{data: {th: t('.reviewing')}}= icon_check(@agent, :reviewing?, false)
  %th.center{width: 50}
    - if @agent.is_points_type?
      %small.font-gary= default_currency(@agent.points)
    - else
      \--
  -# %td.right{data: {th: t('.credit')}}
  -#   %small.font-gary= default_currency(@agent.credit_max)
  -# %td.right{data: {th: t('.credit_used')}}
  -#   %small.font-gary= default_currency(@agent.credit_dispatched)
  %td.right{data: {th: t('.casino_ratio')}}
    %small.font-gary= "#{@agent.casino_ratio} %"
  %td.right{data: {th: t('.users_count')}}
    = link_to(@agent.total_users_count, agent_users_path(@agent), class: 'btn btn-xs btn-default')
    - if @agent.in_final_level? && Setting.cash_site?
      = link_to(new_agent_user_path(@agent), class: 'btn btn-xs btn-default') do
        .fa.fa-plus
  %td.center{data: {th: t('.childrens_count')}}
    - if @agent.in_final_level?
      \--
    - else
      = link_to("#{@agent.children.size} / #{@agent.total_agents_count}", agent_childs_path(@agent), class: 'btn btn-xs btn-default')
      = link_to(new_agent_child_path(@agent), class: 'btn btn-xs btn-default') do
        .fa.fa-plus
  - if current_page?(agent_cash_types_path)
    %td.center.font-xs{data: {th: t('.commission_at')}}
      - if @agent.cash? && !@agent.commission_at.nil?
        = default_log_time(@agent.commission_at)
      - else
        \--
  %td.center{data: {th: t('.user_permission')}}
    .user_permission= render_user_permission_button(@agent, {close_title: t('.close_user_permission'), open_title: t('.open_user_permission'), class: 'btn-xs'})
  %td
    - if current_page?(agent_cash_types_path)
      = link_to(t('.commission'), agent_commission_path(@agent), class: 'btn btn-xs btn-default')
    - else
      = link_to(t('btn.edit'), edit_agent_path(@agent), class: 'btn btn-xs btn-default')