.table-rwd
  %table.table.table-bordered.table-style
    %thead
      %tr.success
        %th= t('.date')
        %th= t('.dc_deposit')
        %th= t('.dc_cashout')
        %th= t('.deposit')
        %th= t('.cashout')
        %th= t('.extra_deposit')
    %tbody.font-xs
      - if @withdraw_stats.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - @withdraw_stats.each do |date, withdraw|
        %tr
          %td{data: {th: t('.date')}}= date
          %td{data: {th: t('.dc_deposit')}}
            = raw dc_info_html(withdraw.dc_deposit, withdraw.currencies)
          %td{data: {th: t('.dc_cashout')}}
            = raw dc_info_html(withdraw.dc_cashout, withdraw.currencies)
          %td{data: {th: t('.deposit')}}= currency_format(withdraw.deposit)
          %td{data: {th: t('.cashout')}}= currency_format(withdraw.cashout)
          %td{data: {th: t('.extra_deposit')}}= currency_format(withdraw.extra_deposit)