.row
  .col-md-12
    .alert.alert-warning= t('.notice', game_name: @default_value.human_game_name)
  .col-md-12
    = bootstrap_form_tag(url: update_all_game_slot_machines_path, method: :put) do |f|
      .row
        .col-md-12
          .panel.panel-primary
            .panel-heading
              = t('.setting')
            .panel-body
              = f.number_field :win_speed, help: '0 ~ 100', autofocus: true, label: t('activerecord.attributes.slot_machine.win_speed'), value: @default_value.win_speed
            .push-s
      .row
        - SlotMachine::CYCLE_SIZES.each do |size|
          .col-md-4
            .panel.panel-info
              .panel-heading
                = t('.cycle', size: size)
              .panel-body
                = f.number_field "lose_rate_#{size}", step: 0.01, label: t("activerecord.attributes.slot_machine.lose_rate_#{size}"), value: @default_value["lose_rate_#{size}"]
                = f.number_field "lose_trigger_amount_#{size}", label: t("activerecord.attributes.slot_machine.lose_trigger_amount_#{size}"), value: @default_value["lose_trigger_amount_#{size}"]
                = f.number_field "max_mutiple_#{size}", step: 0.1, label: t("activerecord.attributes.slot_machine.max_mutiple_#{size}"), value: @default_value["max_mutiple_#{size}"]
      = f.form_group do
        = f.submit t('btn.save'), data: { confirm: t('.edit_confirm') }