.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@marquee) do |f|
      %legend= t('.title')
      = f.text_field :title, autofocus: true, required: true
      = f.text_area :content, required: true
      = f.select :language, options_for_select(t("languages").invert,@marquee.language),include_blank: true
      
      .text-danger= f.check_box :active
      %hr
      = f.check_box :by_time
      = f.datetime_select :produced_datetime
      = f.datetime_select :expire_datetime
      %hr
      = f.check_box :eveny_week
      = f.form_group do
        = f.collection_check_boxes(:days, Date::DAYNAMES, :to_s, :to_s)
      = f.time_select :begin_time
      = f.time_select :stop_time

      %hr
      = f.check_box :only

      = f.form_group do
        = f.submit t('btn.save')

%hr
  %table
    %thead
      %tr
        %th
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 名稱
        %th
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 描述
        %th
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 示例
    %tbody
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} color
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 指定字體渲染顏色，顏色值可以是內置顏色，比如white，black 等，也可以使用16 進制顏色值，比如#ff0000 表示紅色
        %td
          %code &lt;color=#ff0000&gt;Red Text&lt;/color&gt;
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} size
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 指定字體渲染大小，大小值必須是一個整數
        %td
          %code &lt;size=30&gt;enlarge me&lt;/size&gt;
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} outline
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 設置文本的描邊顏色和描邊寬度
        %td
          %code &lt;outline color=red width=4&gt;A label with outline&lt;/outline&gt;
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} b
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 指定使用粗體來渲染
        %td
          %code &lt;b&gt;This text will be rendered as bold&lt;/b&gt;
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} i
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 指定使用斜體來渲染
        %td
          %code &lt;i&gt;This text will be rendered as italic&lt;/i&gt;
      %tr
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} u
        %td
          %font{:style => "vertical-align: inherit;"}
            %font{:style => "vertical-align: inherit;"} 給文本添加下劃線
        %td
          %code &lt;u&gt;This text will have a underline&lt;/u&gt;
%hr
%p
  %font{:style => "vertical-align: inherit;"}
    %font{:style => "vertical-align: inherit;"} 標籤與標籤是支持嵌套的，且嵌套規則跟HTML 是一樣的。
    %font{:style => "vertical-align: inherit;"} 比如下面的嵌套標籤設置一個文本的渲染大小為30，且顏色為綠色。
%p
  %code &lt;size=30&gt;&lt;color=green&gt;I'm green&lt;/color&gt;&lt;/size&gt;
%p
  %font{:style => "vertical-align: inherit;"}
    %font{:style => "vertical-align: inherit;"} 也可以實現為:
%p
  %code &lt;color=green&gt;&lt;size=30&gt;I'm green&lt;/size&gt;&lt;/color&gt;
%hr
