.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.title')
        %th.right{width: 200}= t('.time')
        %th{width: 60}
    %tbody
      - if @marquee.empty?
        %tr
          %td{colspan: 2}= t('shared.no_data')
      - @marquee.each do |marquee|
        %tr
          %td{data: {th: t('.title')}}= link_to(marquee.title, marquee_detail_path(marquee), class: 'font-gary')
          %td.right{data: {th: t('.time')}}= default_log_time(marquee.created_at)
          %td= link_to(t('btn.view'), marquee_detail_path(marquee), class: 'btn btn-default btn-xs')
= will_paginate(@marquees)