#bonuse.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title')
      .modal-form
        = bootstrap_form_for(@bonus, url: user_bonuses_little_mary_path(@user), layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f|
          .modal-body
            .alert.alert-danger
              = t('.desc.total_jackpot_html', jackpot: @total_jackpot)
            = f.static_control :user do
              = @user.title
          .modal-footer
            = f.submit t('.save'), confirm: t('confirm.bouns')