.row
  .col-md-6.col-md-offset-1
    = bootstrap_form_for(@withdraw, url: withdraw_agent_cashouts_path, method: :post) do |f|
      %legend= t('.title')
      .form-group
        = label_tag :level_cd, t('.agent.agent_level')
        = select_tag 'agent_withdraw[level_cd]', options_for_select(Agent.agent_levels.hash.collect{|k, v| [t("activerecord.enums.agent.agent_levels.#{k}"), v]}), class: "form-control", id: "agent_withdraw_select"
      .autocomplete_agent.level-0= f.text_field :username, data: {autocomplete: autocomplete_agent_username_withdraw_agent_cashouts_path(level_cd: 0), 'update-elements'=> '{}'}, required: true, id: 'agent_withdraw_username-0'
      .autocomplete_agent.level-1.hidden= f.text_field :username, data: {autocomplete: autocomplete_agent_username_withdraw_agent_cashouts_path(level_cd: 1), 'update-elements'=> '{}'}, required: true, disabled: true, id: 'agent_withdraw_username-1'
      .autocomplete_agent.level-2.hidden= f.text_field :username, data: {autocomplete: autocomplete_agent_username_withdraw_agent_cashouts_path(level_cd: 2), 'update-elements'=> '{}'}, required: true, disabled: true, id: 'agent_withdraw_username-2'
      = f.number_field :points, required: true, step: '0.01'
      = f.text_area :note
      = f.text_area :admin_note
      = f.form_group do
        = f.submit t('btn.confirm'), class: 'btn btn-danger'
      .push-s
  .col-md-5#agent_data.hidden
    %table.table
      %tr.success
        %td{colspan: 2}= t('.agent.title')
      %tr
        %th{width: 120}= t('.agent.username')
        %td.username
      %tr
        %th= t('.agent.login')
        %td.login
      %tr
        %th= t('.agent.ip')
        %td.ip
      %tr
        %th= t('.agent.points')
        %td
          %strong.font-danger.points
= javascript_include_tag 'pages/agent_withdraw'