.row
  .col-md-8.col-md-offset-2
    .alert.alert-danger
      %h4= t('.desc.title')
      = t('.desc.total_jackpot_html', jackpot: @total_jackpot)
      %br
      %br
      = t('.desc.primary_jackpot_html')
      %br
      %br
      = t('.desc.major_html', from: @game_setting.jackpot_md_range_begin, to: @game_setting.jackpot_md_range_end)
      %br
      %br
      = t('.desc.minor_html', from: @game_setting.jackpot_sm_range_begin, to: @game_setting.jackpot_sm_range_end)
      %br
      %br
      %p= link_to(t('.desc.link'), game_slot_jackpot_path, target: :_blank)
    = bootstrap_form_for([@machine, @bonus], layout: :horizontal) do |f|
      = f.static_control :machine do 
        = @machine.title
      = f.collection_radio_buttons :bonus_type, enum_option_pairs(Bonus, :bonus_types), :last, :first
      = f.number_field :bonus, step: 0.01, min: 0.01
      = f.form_group do
        = f.submit t('btn.save'), confirm: t('confirm.bouns')