= render 'game/setting_menu'
= render 'game/little_mary/setting_menu'
.table-rwd
  %table.table
    %thead
      %tr.danger
        %th= t('.user')
        %th.right{width: 200, data: {priority: '3'}}= t('.bonus_dispatched')
        %th.center{width: 160, data: {priority: '6'}}= t('.create_time')
        %th.center{width: 160, data: {priority: '3'}}= t('.done_time')
        %th{width: 80}= t('.operate')
    %tbody
      - if @bonuses.blank?
        %tr
          %td{colspan: 5}= t('shared.no_data')
      - @bonuses.each do |bonus|
        - cache [bonus, I18n.locale] do
          %tr
            %td{data: {th: t('.user')}}= link_to(bonus.user.title, user_path(bonus.user), class: 'font-gary')
            %td.right{data: {th: t('.bonus_dispatched')}}= bonus.bonus_dispatched
            %td.center{data: {th: t('.create_time')}}= default_log_time(bonus.created_at)
            %td.center{data: {th: t('.done_time')}}
              - if bonus.done?
                = default_log_time(bonus.done_dispatched_at)
              - else
                \--
            %td.center{data: {th: t('.operate')}}
              - if bonus.done?
                \--
              - else
                = link_to(t('btn.remove'), game_little_mary_bonus_path(bonus), class: 'btn btn-default btn-xs', method: :delete, confirm: t('confirm.remove_bouns'))