= bootstrap_form_for([:system, @page], layout: :horizontal, label_col: 'col-md-1', control_col: 'col-md-11') do |f|
  = f.form_group label_col: 'col-md-1', control_col: 'col-md-11' do
    .push-xs
    = f.submit t('btn.save'), class: 'btn btn-default pull-right'
  = f.text_field :title, autofocus: true
  = f.text_area :content, class: 'redactor', rows: 400, cols: 120, style: 'height: 400px', id: 'Test'
  = f.form_group label_col: 'col-md-1', control_col: 'col-md-11' do
    .push-xs
    = f.submit t('btn.save'), class: 'btn btn-default pull-right'