.row
  .col-md-10
    = bootstrap_form_for([:system, @platform_game], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9') do |f|
      = f.text_field :code, readonly: true
      = f.text_field :game_type, readonly: true
      = f.text_field :tech, readonly: true
      = f.text_field :plat, readonly: true
      = f.text_field :lang, readonly: true
      = f.text_field :nameset, readonly: true
      = f.form_group do
        = f.check_box :status, disabled: true
        = f.check_box :maintain, disabled: true
        = f.check_box :enable, disabled: true

      %hr
      = f.form_group do
        = f.check_box :is_jp
      = f.number_field :jp_rate, min: 0.01, max: 100.00, step: 0.01
      = f.number_field :jp_md,  readonly: true
      = f.number_field :bet_total_credit,  readonly: true

      = f.number_field :game_reset
      = f.number_field :base_jp
      %hr
      = f.form_group do
        = f.check_box :multiple_display
      = f.number_field :multiple
      %hr
      = f.submit t('btn.save'), class: 'btn btn-default pull-right'