.row
  .col-md-10
    = form_tag(update_all_jp_rate_system_platform_game_path, method: :post) do
      = label_tag(:data,t(".platform_games.rate"))
      = number_field(:data ,:rate, min: 0.01, max: 100.00, step: 0.01 )
      = submit_tag(t('.platform_games.update_all'))

.pull-right= link_to(t(".update_all_jp"), update_all_jp_system_platform_game_path(format: :js), method: :post, remote: true, class: "btn btn-default", data: {confirm: t('.confirm.update_all_jp')})
.pull-right= link_to(t(".get_games"), update_game_list_system_platform_game_path(format: :js), method: :post, remote: true, class: "btn btn-default", data: {confirm: t('.confirm.update_game_list')})
.clearfix
.push-xs
.table-rwd.game-platform-table
  %table.table.table-valign-middle
    %thead.bordered
      %tr.warning
        %th.center= t('.platform_games.id')
        %th.center-tight= t('.platform_games.gamename')
        %th.center= t('.platform_games.game_platform_name')
        %th.center= t('.platform_games.code')
        %th.center= t('.platform_games.status')
        %th.center= t('.platform_games.maintain')
        %th.center= t('.platform_games.jp')
        %th.center= t('.platform_games.rate')
        %th.center= t('.platform_games.created_at')
        %th.center= t('.platform_games.updated_at')
        %th.center= t('.platform_games.enable')
        %th.center= t('.platform_games.play_free')
        %th.center= t('.platform_games.is_jp')
    %tbody
      - @games_list.each do |config|
        - name = ActiveSupport::JSON.decode(config.nameset)[I18n.locale.downcase.to_s]
        - if (name.nil?)
          - name = t('.notset')
        %tr{id: ('game' + config.id.to_s)}
          %td.center{data: {th: t('.platform_games.id')}}= config.id
          %td.center{data: {th: t('.platform_games.gamename')}}= link_to(name, edit_system_platform_game_path(config.id), class: 'font-gary')
          %td.center{data: {th: t('.platform_games.game_platform_name')}}= config.game_platform.name
          %td.center{data: {th: t('.platform_games.code')}}= config.code
          %td.center{data: {th: t('.platform_games.status')}}= icon_check(config, :status?, false)
          %td.center{data: {th: t('.platform_games.maintain')}}= icon_check(config, :maintain?, true)

          %td.center{data: {th: t('.platform_games.jp')}}=config.jp_md
          %td.center{data: {th: t('.platform_games.rate')}}=config.jp_rate

          %td.center{data: {th: t('.platform_games.created_at')}}= default_log_time(config.created_at)
          %td.center{data: {th: t('.platform_games.updated_at')}}= default_log_time(config.updated_at)

          %td.center.enable{data: {th: t('.platform_games.enable')}}
            = link_to(config.enable? ? t('.platform_games.enable_status.enable') : t('.platform_games.enable_status.disable'), update_enable_system_platform_game_path(id: config.id, enable: !config.enable, format: :js), method: :put, remote: true, class: "btn btn-xs status-option "+ (config.enable? ? 'status-open' : 'status-close'), data: {confirm: t('.confirm.switch')})
          %td.center.enable{data: {th: t('.platform_games.play_free')}}
            = link_to(config.play_free? ? t('.platform_games.enable_status.enable') : t('.platform_games.enable_status.disable'), update_play_free_system_platform_game_path(id: config.id, play_free: !config.play_free, format: :js), method: :put, remote: true, class: "btn btn-xs status-option "+ (config.play_free? ? 'status-open' : 'status-close'), data: {confirm: t('.confirm.switch')} )
          %td.center.is_jp{data: {th: t('.platform_games.is_jp')}}
            = link_to(config.is_jp? ? t('.platform_games.is_jp.enable') : t('.platform_games.is_jp.disable'), update_is_jp_system_platform_game_path(id: config.id, is_jp: !config.is_jp, format: :js), method: :put, remote: true, class: "btn btn-xs status-option "+ (config.is_jp? ? 'status-open': 'status-close' ), data: {confirm: t('.confirm.switch')})
.push-xs