!!!
%html
  %head
    %meta{id: 'viewport', name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %title= Setting.title
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'login', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-4.col-md-offset-4
          = notice_message
          %h4
            = fa_icon('lock')
            = t('.title')
          = bootstrap_form_for(resource, url: session_path(resource_name)) do |f|
            = f.text_field :username, required: true, autofocus: true
            = f.password_field :password, required: true, autofocus: true
            = f.submit t('btn.login'), class: 'btn btn-block btn-success btn-lg'
          .row
            .push-md
            .col-md-6= link_to('繁體中文', { locale: 'zh-TW' }, class: 'lang-zh-TW btn btn-block')
            .col-md-6= link_to('English', { locale: :en }, class: 'lang-en btn btn-block')
