.row
  .col-md-6.col-md-offset-1.form-date-range-noform
    = bootstrap_form_for(@withdraw, url: withdraw_deposits_path, method: :post) do |f|
      %legend= t('.title')
      -# = f.text_field :username, data: {autocomplete: autocomplete_user_username_withdraw_deposits_path, 'update-elements'=> '{}'}, required: true
      .form-group
        = label_tag t('.lobby_id')
        = text_field_tag :id, @id || '', html: {required: true}, class: 'form-control'
        - if @withdraw.errors.messages.include?(:user)
          .font-danger
            = t('flash.lobby_id.invalid')
      = f.select :type, options_for_select(Withdraw.all_deposit_types), required: true
      = f.number_field :credit, required: true, step: '0.01'
      / = f.number_field :credit_diff, label: t('.credit_diff'), required: true, step: '0.01'
      / %a.label.label-primary.multiple{data: {multiple: 5}} x5
      / %a.label.label-primary.multiple{data: {multiple: 8}} x8
      / %a.label.label-primary.multiple{data: {multiple: 10}} x10
      / %a.label.label-primary.multiple{data: {multiple: 15}} x15
      / %a.label.label-primary.multiple{data: {multiple: 18}} x18
      / %a.label.label-primary.multiple{data: {multiple: 20}} x20
      .push-xs
      / = f.number_field :cashout_limit, step: '0.01'
      = f.text_area :note
      = f.text_area :admin_note
      -# = f.select :bank_id, select_bank_options
      -# = f.text_field :city, required: true
      -# = f.text_field :province, required: true
      -# = f.text_field :subbranch, required: true
      -# = f.text_field :account, required: true
      -# = f.text_field :title, required: true
      -# = f.text_field :mobile, required: true
      -# = f.text_field :deposit_at, readonly: true, class: 'datetime-picker', required: true
      = f.form_group do
        = f.submit t('btn.confirm'), class: 'btn btn-success'
      .push-s
  = render 'common/autocomplete_user_info'