#open_confirm.modal.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('.title', username: @agent.title)
      .modal-body.center
        .push-xs
        = link_to(t('.open_user_permission'), agent_user_permission_path(@agent), method: :post ,class: 'btn btn-default btn-lg', confirm: t('confirm.open_user_permission'))
        - unless @agent.in_final_level?
          = link_to(t('.open_user_permission_tree'), agent_user_permission_path(@agent, tree: true), method: :post ,class: 'btn btn-default btn-lg', confirm: t('confirm.open_user_permission_tree'))
      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
