(function(){
  $noticeModal = $("<%=j render('notice') %>");
  if ($('#noticeModal').size() > 0) {
    $('#noticeModal').html($noticeModal.html());
  } else {
    $('body').append($noticeModal);
  }
  $('#noticeModal').modal();
})();
