(function(){
  $openConfirm = $("<%=j render('open_confirm') %>");
  if ($('#open_confirm').size() > 0) {
    $('#open_confirm').html($openConfirm.html());
  } else {
    $('body').append($openConfirm);
  }
  $('#open_confirm').modal();
})();
