.btn-hover
  background: #BABABA
  color: #222
  border: #BABABA
hr
  margin-top: 15px
  margin-bottom: 15px
// Search bar
#query
  margin-bottom: 10px
@media(min-width:768px)
  #query
    float: left
#search_key
  float: left
// RWD Table display options
@media(min-width:1200px)
  .btn-toolbar
    display: none
@media(max-width:1200px)
  .btn-toolbar
    margin-top: 10px
.btn-xl
  padding: 17px 0px
  font-size: 18px
  line-height: 1.3333333
  width: 100%
.ui-widget-content
  border: 1px solid #57C2C5
.navbar-default .navbar-toggle .icon-bar
  background-color: #FFFFFF
.navbar-nav .open .dropdown-menu
  background-color: rgba(255,255,255,0.9)

.form-date
  .form-control
    display: inline-block
    width: auto

.game-platform-table
  .label-maintain, .status-maintain
    color: #FFF
    background-color: #b87410
    border-color: #a1650e
  .label-close, .status-close
    color: #FFF
    background-color: #c32e2a
    border-color: #ae2925
  .label-open, .status-open
    color: #FFF
    background-color: #48a548
    border-color: #409340
.agent-point
  background-color: #e5f5ff
.label-cashout, .label-deduct
  color: #FFF
  background-color: #c32e2a
  border-color: #ae2925
.label-deposit, .label-refund
  color: #FFF
  background-color: #48a548
  border-color: #409340
.alert-sm
  padding: 5px 14px
.no-margin
  margin: 0
.alert-error
  background-color: #f2dede
  border-color: #ebccd1
  color: #a94442
.nav > li.nav-item
  display: inline-block
.nav > li.nav-item.active
  background-color: #d4eeef
.default-select
  width: 150px !important
.display-flex
  display: flex