= content_tag_for(:tr, deposit) do
  %td{data: {th: t('.id')}}= deposit.trade_no
  %td{data: {th: t('.player')}}= link_to(deposit.user.title, deposit.user, class: 'font-gary')
  %td.right{data: {th: t('.amount')}}= default_currency(deposit.credit)
  %td.right{data: {th: t('.datetime')}}= default_log_time(deposit.created_at)
  %td.right{data: {th: t('.update_time')}}
    -if deposit.created_at < deposit.updated_at
      = default_log_time(deposit.updated_at)
    - else
      \--
  %td.center{data: {th: t('.status')}}
    - if deposit.pending?
      = t('.pending')
    - else
      = t('.transferred')
  %td.center= link_to(t('btn.view'), withdraw_deposit_path(deposit))