.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 130}= t('.id')
        %th{width: 50}= t('.player')
        %th.right{width: 50}= t('.amount')
        %th.right{width: 50}= t('.datetime')
        %th.right{width: 50}= t('.update_time')
        %th.center{width: 50}= t('.status')
        %th.center{width: 50}
    %tbody
      - if @withdraws.empty?
        %tr
          %td{colspan: 7}= t('shared.no_data')
      = render partial: 'deposits/deposit', collection: @withdraws
= will_paginate(@withdraws)
