#userGroup.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title
          - if @group.id.nil?
            = t('.title.new')
          - else
            = t('.title.edit', name: @group.name)
      .modal-form
        = bootstrap_form_for(@group, format: :js, remote: true) do |f|
          .modal-body
            = f.text_field :name
          .modal-footer
            = f.submit t('btn.confirm'), class: 'btn btn-success', disable_with: t('btn.submitting')