(function(){
  $userGroupForm = $("<%=j render('group_form') %>");
  if ($('#userGroup').size() > 0) {
    $('#userGroup').html($userGroupForm.html());
  } else {
    $('body').append($userGroupForm);
  }
  $('#userGroup').modal();
})();
