.pull-right= link_to(t('.add'), new_user_group_path(format: :js), method: :get, remote: true, class: 'btn btn-default')
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.name')
        %th.right{width: 200}= t('.time')
        %th{width: 150}
    %tbody
      - if @groups.empty?
        %tr
          %td{colspan: 7}= t('shared.no_data')
      - @groups.each do |group|
        %tr
          %td{data: {th: t('.name')}}= link_to(group.name, users_path(search_key: 'group', query: group.id), class: 'font-gary')
          %td.right{data: {th: t('.time')}}= default_log_time(group.created_at)
          %td.right
            = link_to(t('btn.edit'), edit_user_group_path(group, format: :js), method: :get, remote: true, class: 'btn btn-default btn-xs')
            = link_to(t('btn.remove'), user_group_path(group), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: t('.confirm.remove')})
= will_paginate(@groups)