.row
  .col-md-12.col-xs-12.push-s
    %ul.nav
      %ul.nav.nav-pills
        = main_history_games_links(type, @begin_date, @end_date, @role_search_params)
        %li.pull-right
          = main_history_games_export_links(type, @begin_date, @end_date, @role_search_params)
