.row
  .col-md-12
    = bootstrap_form_for(@little_mary_settings, as: :little_mary_settings, url: game_little_mary_jackpot_path) do |f|
      .col-md-4
        .panel.panel-danger
          .panel-heading
            = t('.primary_jackpot')
          .panel-body
            = f.static_control :jackpot_primary_max, label: t('.jackpot_primary_max')
            = f.number_field :jackpot_accumulate_rate, label: t('.jackpot_accumulate_rate'), help: t('.jackpot_accumulate_rate_help'), step: '0.001', autofocus: true
      = f.form_group do
        = f.submit t('btn.save')
