// 財務報表 - 每位玩家
// (user_report.total_extra_deposit - user_report.extra_deposit) 為虛擬幣上分的金額(非贈金)
%h3.center.visible-xs.visible-sm
  %span.label.label-primary= t('.player')
.table-rwd
  %table.table
    %thead
      %tr.success
        %th{width: 130}
        %th.right= t('.deposit_actual')
        %th.right= t('.deposit')
        %th.right= t('.extra_deposit')
        %th.right= t('.valid_amount')
        -# %th.right= t('.jackpot')
        -# - if Setting.api_site?
          %th.right= t('.api_revenue')
        -# - else
        %th.right= t('.revenue')
        %th.right= t('.cashout')
        %th.right{width: 175}
    %tbody
      - if @cashout_stats.user_children.present?
        - @cashout_stats.user_children.each do |user|
          - user_cashout = @cashout_stats.player_cashout_list[user.id]
          - user_report = @cashout_stats.player_report.nil? ? nil : @cashout_stats.player_report[user.id]
          %tr
            %td{data: {th: t('.player')}}= link_to(user.lobby_id, user_path(user), method: :get, class: "font-gary")
            %td.right{data: {th: t('.deposit_actual')}}
              - if user_report.nil?
                \--
              - else
                = currency_format(user_report.total_deposit + (user_report.total_extra_deposit - user_report.extra_deposit) + user_report.extra_deposit)
            %td.right{data: {th: t('.deposit')}}
              - if user_report.nil?
                \--
              - else
                = currency_format(user_report.total_deposit + (user_report.total_extra_deposit - user_report.extra_deposit))
            -# %td.right{data: {th: t('.jackpot')}}= bonus_currency(default_zero(user_cashout, :jackpot_amount))
            %td.right{data: {th: t('.extra_deposit')}}
              - if user_report.nil?
                \--
              - else
                = currency_format(user_report.extra_deposit) 
            %td.right{data: {th: t('.valid_amount')}}= currency_format(default_zero(user_cashout, :valid_amount))
            %td.right{data: {th: t('.revenue')}}
              = currency_format(default_zero(user_cashout, :profit_amount))
              -# \/
              -# = default_currency(default_zero(user_cashout, :bet_amount))
            %td.right{data: {th: t('.cashout')}}
              - if user_report.nil?
                \--
              - else
                = currency_format(user_report.total_cashout - user_report.total_dc_cashout)
            %td.right= link_to(t('.details'), histories_game_index_path(role: {user_id: user.id}, begin_date: @begin_date, end_date: @end_date), class: 'btn btn-xs')
    - if @cashout_stats.children_sum.present?
      %tfoot
        %tr
          %td
            .visible-lg.visible-md= t('.total')
            %h3.center.visible-xs.visible-sm
              %span.label.label-primary= t('.total')
          %td.right{data: {th: t('.deposit_actual')}}= currency_format(@cashout_stats.children_sum.total_deposit + (@cashout_stats.children_sum.extra_deposit - @cashout_stats.children_sum.total_extra_deposit) + @cashout_stats.children_sum.total_extra_deposit)
          %td.right{data: {th: t('.deposit')}}= currency_format(@cashout_stats.children_sum.total_deposit + (@cashout_stats.children_sum.extra_deposit - @cashout_stats.children_sum.total_extra_deposit))
          -# %td.right{data: {th: t('.jackpot')}}= bonus_currency(@cashout_stats.player_jackpot_amount)
          %td.right{data: {th: t('.extra_deposit')}}= currency_format(@cashout_stats.children_sum.total_extra_deposit)
          %td.right{data: {th: t('.valid_amount')}}= currency_format(@cashout_stats.player_total_valid_amount)
          %td.right{data: {th: t('.revenue')}}
            = currency_format(@cashout_stats.player_total_profit_amount)
            -# \/
            -# = default_currency(@cashout_stats.player_total_bet_amount)
          %td.right{data: {th: t('.cashout')}}= currency_format(@cashout_stats.children_sum.total_cashout - @cashout_stats.children_sum.total_dc_cashout)
          %td
