.row
  .col-md-12
    = form_tag(finances_path, class: 'form-inline form-date form-date-range-noform pull-left push-right-xs', method: :get, id: 'financesForm') do |f|
      .form-group
        .row
          .col-md-7.col-xs-12
            = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', size: 17, readonly: true
            = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', size: 17, readonly: true
          .col-md-5.col-xs-12
            %ul.nav.nav-pills
              - if @agent.present?
                = render_daterange_picker(:agent_finances_path, resource: @agent, params: {lobby_id: @lobby_id, agent: @agent}, list: {})
              - else
                = render_daterange_picker(:finances_path, resource: {}, params: {lobby_id: @lobby_id, agent: @agent}, list: {})
            .push-sm
          .col-md-2.col-xs-12
            = label_tag t('.shareholder')
            = select_tag :agent, options_from_collection_for_select(Agent.list_shareholder, :id, :nickname, @agent.nil? || @levels.nil? || @levels[0].nil? ? '' : @levels[0].id), prompt: 'All', class: 'center form-control default-select agents-select', id: 'selectShareholder'
          .col-md-2.col-xs-12
            = label_tag t('.director')
            - if @agent.nil? || @levels.nil? || @levels[0].nil?
              = select_tag :agent, '', prompt: '---', class: 'center form-control default-select agents-select', id: 'selectDirector', disabled: true
            - else
              = select_tag :agent, options_from_collection_for_select(@levels[0].children, :id, :nickname, @agent.nil? || @levels.nil? || @levels[1].nil? ? '' : @levels[1].id), prompt: 'All', class: 'center form-control default-select agents-select', id: 'selectDirector'
          .col-md-2.col-xs-12
            = label_tag t('.agent')
            - if @agent.nil? || @levels.nil? || @levels[1].nil?
              = select_tag :agent, '', prompt: '---', class: 'center form-control default-select agents-select', id: 'selectAgent', disabled: true
            - else
              = select_tag :agent, options_from_collection_for_select(@levels[1].children, :id, :nickname, @agent.nil? || @levels.nil? || @levels[2].nil? ? '' : @levels[2].id), prompt: 'All', class: 'center form-control default-select agents-select', id: 'selectAgent'
          .col-md-2.col-xs-12
            = label_tag t('.lobby_id')
            = text_field_tag :lobby_id, @lobby_id, class: 'form-control', size: 15
          .col-md-2.col-xs-12
            %br
            = submit_tag t('.search'), class: 'btn btn-success pull-right', id: 'financeSubmit'
      .push-sm

= javascript_include_tag 'pages/finance'