.panel.panel-info
  .panel-heading
    %h3.panel-title= t('.title')
  .panel-body
    #admin-page-dashboard.row
      .col-md-2.col-xs-3.center.tip
        %h1.fa.fa-lock
        .value.font-danger= current_admin.title
        %span.title= @remote_ip      
      .col-md-2.col-xs-3.center.tip
        %h1.fa.fa-user
        .value.font-danger
          = @total_users_count
          %span.title= t('.players')
      .col-md-2.col-xs-3.center.tip
        %h1.fa.fa-home
        .value.font-danger
          = @total_agents_count
          %span.title= t('.agents')
      .clearfix
.row.hidden-md.hidden-lg
  .col-xs-6
    - if policy(:finance).all?
      = link_to(finances_path, class: 'btn btn-default btn-xl report') do
        = image_tag("icon/report_lg.png")
        %p
        = t('breadcrumbs.report.root')
        %p
        .font-gary.font-sm= "#{t('breadcrumbs.finances')}, #{t('breadcrumbs.history')}"
  .col-xs-6
    - if policy(:game).all?
      = link_to(game_slot_machines_path, class: 'btn btn-default btn-xl game') do
        = image_tag("icon/game_lg.png")
        %p
        = t('breadcrumbs.game.root')
        %p
        .font-gary.font-sm= "#{t('breadcrumbs.schedules.racing')}, #{t('breadcrumbs.setting.slot_machines')}..."
.push-sm