.row
  .col-md-12
    = form_tag(root_path, class: 'form-inline form-date form-date-range', method: :get) do |f|
      .row
        .col-md-5.col-xs-12.display-flex
          %ul.nav.nav-pills
            %li= link_to(t('.all'), root_path, role: 'presentation')
          %ul.nav.nav-pills
            = render_daterange_picker(:root_path, resource: {}, params: {begin_date: @begin_date, end_date: @end_date}, list: {})
        .col-md-7.col-xs-12
          = text_field_tag :begin_date, @begin_date, class: 'center form-control form_datetime', readonly: true, placeholder: t('.start_datetime'), size: 18
          = text_field_tag :end_date, @end_date, class: 'center form-control form_datetime', readonly: true, placeholder: t('.end_datetime'), size: 18
.row.center.report_overview
  - if @begin_date.nil? && @end_date.nil?
    .col-md-2.push-sm.users
      .well
        %h4= @today_users_count
        %span= t('.users_count.today')
      .push-sm
      .well
        %h4= @week_users_count
        %span= t('.users_count.week')
      .push-sm
      .well
        %h4= @month_users_count
        %span= t('.users_count.month')
    .col-md-3.push-sm.bets
      .well
        %h4= number_format(@today_total_betform_sum[:bet_total_credit])
        %span= t('.bet_total_credit.today')
      .push-sm
      .well
        %h4= number_format(@week_total_betform_sum[:bet_total_credit])
        %span= t('.bet_total_credit.week')
      .push-sm
      .well
        %h4= number_format(@month_total_betform_sum[:bet_total_credit])
        %span= t('.bet_total_credit.month')
    .col-md-3.push-sm.losewin
      .well
        %h4= number_format(@today_total_betform_sum[:user_credit_diff])
        %span= t('.user_credit_diff.today')
      .push-sm
      .well
        %h4= number_format(@week_total_betform_sum[:user_credit_diff])
        %span= t('.user_credit_diff.week')
      .push-sm
      .well
        %h4= number_format(@month_total_betform_sum[:user_credit_diff])
        %span= t('.user_credit_diff.month')
    .col-md-2.push-sm.deposit
      .well
        %h4= number_format(@today_total_withdraw_sum[:deposit])
        %span= t('.deposit_sum.today')
      .push-sm
      .well
        %h4= number_format(@week_total_withdraw_sum[:deposit])
        %span= t('.deposit_sum.week')
      .push-sm
      .well
        %h4= number_format(@month_total_withdraw_sum[:deposit])
        %span= t('.deposit_sum.month')
    .col-md-2.push-sm.cashout
      .well
        %h4= number_format(@today_total_withdraw_sum[:cashout])
        %span= t('.cashout_sum.today')
      .push-sm
      .well
        %h4= number_format(@week_total_withdraw_sum[:cashout])
        %span= t('.cashout_sum.week')
      .push-sm
      .well
        %h4= number_format(@month_total_withdraw_sum[:cashout])
        %span= t('.cashout_sum.month')
  - else
    .col-md-2.push-sm.users
      .well
        %h4= @users_count
        %span= t('.date_range.users_count')
    .col-md-3.push-sm.bets
      .well
        %h4= number_format(@total_betform_sum[:bet_total_credit])
        %span= t('.date_range.bet_total_credit')
    .col-md-3.push-sm.losewin
      .well
        %h4= number_format(@total_betform_sum[:user_credit_diff])
        %span= t('.date_range.user_credit_diff')
    .col-md-2.push-sm.deposit
      .well
        %h4= number_format(@total_withdraw_sum[:deposit])
        %span= t('.date_range.deposit_sum')
    .col-md-2.push-sm.cashout
      .well
        %h4= number_format(@total_withdraw_sum[:cashout])
        %span= t('.date_range.cashout_sum')