= render 'histories/filter_bar', type: 'main'
= render 'histories/main/filter_bar', type: 'roulette'
.push-xs
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 60}= t('.shop')
        %th{width: 160}= t('.player')
        %th.right{width: 60}= t('.company_win_amount')
        %th.right{width: 60}= t('.shareholder_win_amount')
        %th.right{width: 60}= t('.director_win_amount')
        %th.right{width: 60}= t('.agent_win_amount')
        %th.center{width: 80}= t('.game_model')
        %th.right{width: 120}= t('.bet_total_credit')
        %th.right{width: 70}= t('.reward_amount')
        %th.center{width: 70}= t('.ip')
        %th.center{width: 160}= t('.created_at')
    %tbody
      - if @bet_forms.empty?
        %tr
          %td{colspan: 13}= t('shared.no_data')
      = render partial: 'bet_form', collection: @bet_forms
= will_paginate(@bet_forms)
