= t('.cashout_html', user: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), credit: activity.parameters[:credit], status: t("activerecord.enums.withdraw.status.#{activity.parameters[:status]}"))
- if activity.parameters[:withdraw_id].present?
  \-
  = link_to(t('.cashout_link'), withdraw_cashout_path(id: activity.parameters[:withdraw_id]), class: 'font-gary')