= t('.transfer_credit_html', user: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), credit: activity.parameters[:credit], from_platform: t("game_platforms.#{activity.parameters[:from_platform]}"), to_platform: t("game_platforms.#{activity.parameters[:to_platform]}"))