- cache [withdraw] do
  = content_tag_for(:tr, withdraw) do
    %td{data: {th: t('.id')}}= withdraw.trade_no
    %td{data: {th: t('.username')}}= link_to(withdraw.agent.username, withdraw.agent, class: 'font-gary')
    %td{data: {th: t('.nickname')}}= withdraw.agent.nickname
    %td{data: {th: t('.type')}}
      %span{class: "label label-#{withdraw.cash_type}"}= t("activerecord.enums.agent_withdraw.cash_types.#{withdraw.cash_type}")
    %td.right{data: {th: t('.points')}}= default_currency(withdraw.points)
    %td{data: {th: t('.note')}}= withdraw.note
    %td{data: {th: t('.admin_note')}}= withdraw.admin_note
    %td.right{data: {th: t('.update_time')}}= default_log_time(withdraw.updated_at)
    %td.center= link_to(t('btn.view'), withdraw_agent_withdraw_path(withdraw))