.row
  .col-md-8.col-md-offset-2
    %h3= t(".#{@withdraw.cash_type}.title")
    %ul.list-group
      %li.list-group-item
        %strong= t('.agent')
        = link_to(@withdraw.agent.username, @withdraw.agent, class: 'font-gary')
      %li.list-group-item
        %strong= t('.nickname')
        = @withdraw.agent.nickname
      %li.list-group-item
        %strong= t('.cash_type_cd')
        %span{class: "label label-#{@withdraw.cash_type}"}= t("activerecord.enums.agent_withdraw.cash_types.#{@withdraw.cash_type}")
      %li.list-group-item
        %strong= t('.points')
        %strong.font-success= default_currency(@withdraw.points)
      %li.list-group-item
        %strong= t('.updated_at')
        %strong.font-success= default_log_time(@withdraw.updated_at)
      %li.list-group-item
        %strong= t('.note')
        = @withdraw.note
      %li.list-group-item
        %strong= t('.admin_note')
        = @withdraw.admin_note
    - if @withdraw.bank_id.present?
      %h3= t('.title_account')
      %ul.list-group
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:bank_id)
          = t("bank_accounts.bank_title.#{@withdraw.bank_id}")
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:city)
          = @withdraw.city
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:province)
          = @withdraw.province
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:subbranch)
          = @withdraw.subbranch
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:account)
          = @withdraw.account
