= t('.cashout_html', agent: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), points: activity.parameters[:points])
- if activity.parameters[:agent_withdraw_id].present?
  \-
  = link_to(t('.cashout_link'), withdraw_agent_withdraw_path(id: activity.parameters[:agent_withdraw_id]), class: 'font-gary')
-# = link_to(activity.trackable.title, activity.trackable, class: 'font-gary')
-# - if activity.parameters[:cashout_credit].to_f > 0
-#   = t('.pay')
-#   %span.font-win
-#     = default_currency(activity.parameters[:cashout_credit].to_f)
-# - else
-#   = t('.receive')
-#   %span.font-lose
-#     = default_currency(activity.parameters[:cashout_credit].abs)
