#logs.modal.fade{tabindex: -1,role: 'dialog', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %span.modal-title.font-md= t('.title', name: @machine.title)
        - if @machine.deleted?
          %span.label.label-danger= t('.deleted')
      .modal-body
        %table.table
          %thead
            %tr.active
              %td= t('.action')
              %td.right{width: 150}= t('.time')
          %tbody            
            - if @machine_logs.empty?
              %tr
                %td{colspan: 2}= t('shared.no_data')
            - @machine_logs.each do |machine_log|
              %tr
                %td.left= render_activity(machine_log)
                %td.right= default_log_time(machine_log.created_at)
      .modal-footer
        %button.btn.btn-default.pull-right{data: {dismiss: 'modal'}}= t('btn.close')
        .btn-group.pull-left
          .btn-group
            %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#', class: 'btn btn-default'} 
              = t('.log_group')
              %span.caret
            %ul.dropdown-menu.left{role: 'menu'}
              %li= link_to(t('.histories_slots'), histories_game_index_path(role: {machine_id: @machine.id}))
              %li= link_to(t('.logs'), machine_logs_path(@machine))
          - if current_admin.super_manager?
            .btn-group
              %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#', class: 'btn btn-default'}
                = t('.operate_group')
                %span.caret
              %ul.dropdown-menu.left{role: 'menu'}
                %li= link_to(t('.bonus'), new_machine_bonuses_path(@machine))
