= search_form(:query, params[:query], request.path, placeholder: t('.search_placeholder'))
.table-responsive{data: {pattern: "priority-columns"}}
  %table.table
    %thead
      %tr.success
        %th{width: 170, data: {priority: '3'}}= t('.trackable')
        %th= t('.action')
        %th.center{width: 170, data: {priority: '6'}}= t('.time')
        %th.center{width: 100, data: {priority: '6'}}= t('.ip')
        %th.center{width: 100, data: {priority: '3'}}= t('.agent')
        %th{width: 100}
    %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @logs.each do |log|
        - cache [log.id, log.owner, log.trackable, I18n.locale] do
          %tr
            %td= link_to(log.trackable.system_id, log.trackable , class: 'font-gary', remote: true, format: :js)
            %td= render_activity(log)
            %td.center= default_log_time(log.created_at)
            %td.center= log.parameters[:remote_ip]
            %td.center= link_to(log.trackable.agent.username, log.trackable.agent, class: 'btn btn-xs btn-default')
            %td.right= link_to(t('.logs'), machine_logs_path(log.trackable.id), class: 'btn btn-xs')
= will_paginate(@logs)