- if params[:controller] == 'system/logs'
  = render 'logs/filter_bar'
  .clearfix
  .push-xs
- if params[:controller] == 'admin/logs'
  = render_list class: 'nav nav-pills' do |li|
    - li << link_to(t('.action_logs'), admin_logs_path)
    - li << link_to(t('.change_logs'), change_admin_logs_path)
  .clearfix
  .push-xs
.table-rwd
  %table.table
    %thead
      %tr.success
        %th{width: 70} #
        %th{width: 120}= t('.owner')
        %th{width: 160}= t('.trackable')
        %th= t('.action')
        %th.center{width: 100}= t('.ip')
        %th.right{width: 180}= t('.time')
    %tbody.font-xs
      - if @logs.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @logs.each do |log|
        - cache [log.id, log.owner, log.trackable, I18n.locale] do
          %tr
            %td{data: {th: '#'}}= log.id
            %td{data: {th: t('.owner')}}= log.owner.system_id
            %td{data: {th: t('.trackable')}}= log.trackable.system_id
            %td{data: {th: t('.action')}}= render_activity(log)
            %td.center{data: {th: t('.ip')}}= log.parameters[:remote_ip]
            %td.right{data: {th: t('.time')}}= default_log_time(log.created_at)
-# = will_paginate(@logs)