.row
  .col-md-8.col-md-offset-2
    = bootstrap_form_for(@product, url: products_path, method: :post) do |f|
      %legend= t('.title')
      = f.text_field :name, autofocus: true, required: true
      = f.text_field :sku, required: true
      = f.number_field :cash
      = f.number_field :credit
      = f.form_group do
        = f.submit t('btn.save')
