.panel.panel-warning
  .panel-heading
    = @user.title if @user.present?
    .pull-right.hidden-xs
      = "#{@begin_date} ~ #{@end_date}"
  - if @user.present?
    .table-rwd
      %table.table.table-bordered.table-style
        %thead
          %tr.success
            %th= t('.lobby_id')
            %th= t('.dc_deposit')
            %th= t('.dc_cashout')
            %th= t('.deposit')
            %th= t('.cashout')
            %th= t('.extra_deposit')
        %tbody
          - if @withdraw_stats.present?
            %tr
              %td{data: {th: t('.lobby_id')}}= @user.lobby_id
              %td.right{data: {th: t('.dc_deposit')}}
                = raw dc_info_html(@withdraw_stats.dc_deposit, @withdraw_stats.currencies, type: :dc_deposit, lobby_id: @user.lobby_id, begin_date: params[:begin_date], end_date: params[:end_date])
              %td.right{data: {th: t('.dc_cashout')}}
                = raw dc_info_html(@withdraw_stats.dc_cashout, @withdraw_stats.currencies, type: :dc_cashout, lobby_id: @user.lobby_id, begin_date: params[:begin_date], end_date: params[:end_date])
              %td.right{data: {th: t('.deposit')}}= link_to(currency_format(@withdraw_stats.deposit), details_reports_users_path(type: :deposit, lobby_id: @user.lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))
              %td.right{data: {th: t('.cashout')}}= link_to(currency_format(@withdraw_stats.cashout), details_reports_users_path(type: :cashout, lobby_id: @user.lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))
              %td.right{data: {th: t('.extra_deposit')}}= link_to(currency_format(@withdraw_stats.extra_deposit), details_reports_users_path(type: :extra_list, lobby_id: @user.lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))