.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 100}= t('users.index.username')
        %th.right{width: 80}= t('users.index.credit')
        - if false
          %th.left{width: 30}
        %th.center{width: 120}= t('users.index.create_date')
        %th.center{width: 120}= t('users.index.current_sign_in_at')
        %th.center{width: 120}= t('users.index.current_sign_in_ip')
        %th.center{width: 60}= t('users.index.enabled')
        %th{width: 100}= t('users.index.agent')
        %th.center{width: 150}= t('users.index.logs')
        %th.right{width: 60}= t('users.index.note')
      %tbody
      - if @users.empty?
        %tr
          %td{colspan: 11}= t('shared.no_data')
      - @users.each do |user|
        = render_cell :users, :list, user: user
= will_paginate(@users)
- content_for :javascripts do
  = javascript_include_tag 'pages/users'