- unless Setting.api_site?
  = render_list class: 'nav nav-tabs' do |li|
    - li << link_to(t('.jackpots'), game_little_mary_jackpot_path)
    - li << link_to(t('.bonuses'), game_little_mary_bonuses_path)
  .push-xs