.col-md-5#user_data.hidden
  %table.table
    %tr.success
      %td{colspan: 2}= t('.user.title')
    %tr
      %th{width: 120}= t('.user.username')
      %td.username
    %tr
      %th{width: 120}= t('.user.lobby_id')
      %td.lobby_id
    %tr
      %th= t('.user.login')
      %td.login
    %tr
      %th= t('.user.ip')
      %td.ip
    %tr
      %th= t('.user.credit')
      %td
        %strong.font-danger.credit
    %tr
      %th= t('.user.cashout_limit')
      %td
        %strong.cashout_limit
= javascript_include_tag 'pages/withdraw'