.row
  .col-md-8.col-md-offset-2
    %h3= t('.title')
    %hr
    = bootstrap_form_for(@form, url: agent_users_path(@agent)) do |f|
      = f.collection_select :agent, Agent.list_agent, :id, :username, selected: @agent.id
      = f.text_field :username, autocomplete: 'off', required: true, autofocus: true
      = f.text_field :name, autocomplete: 'off', required: true, autofocus: true
      = f.text_field :mobile, autocomplete: 'off', required: true, autofocus: true, value: '86'
      = f.text_field :email, autocomplete: 'off', autofocus: true
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank')
      = f.password_field :password_confirmation, autocomplete: 'off'
      .pull-right= link_to(t('users.edit.add_group'), new_user_group_path(format: :js), method: :get, remote: true, class: 'btn btn-default btn-xs btn-danger')  if policy(:user).group?
      = f.collection_select :user_group_id, UserGroup.all, :id, :name, include_blank: t('.select_group'), label: t('activerecord.attributes.user.user_group.name'), autocomplete: 'off'
      = f.submit t('btn.save'), class: 'btn btn-success'