!!!
%html
  %head
    %meta#pusher{data: { key: Setting.pusher.key, auth_end_point: channels_path}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= "#{Setting.title} - #{current_admin.username}"
    = render_page_description_meta_tag
    = render_page_keywords_meta_tag
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    %script{src: '//js.pusher.com/2.2/pusher.min.js'}
    %script{src: '//www.google.com/jsapi'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %audio#alertAudio
      %source{src: asset_url('alert.mp3'), type: 'audio/mpeg'}
      Your browser does not support the audio element.
    = render_cell :common, :navigation_bar
    -# = render 'common/hot_menu'
    .container
      .push-xs
      = notice_message
      = render_breadcrumb
      = yield
    = yield :javascripts
    = javascript_include_tag 'shared/extra'
    = javascript_include_tag 'pages/main'
    #messageModal.modal.fade{tabindex: -1 , role:'dialog',aria:{labelledby:'modal', hidden: 'true'}}
      .modal-dialog
        .modal-content
          .modal-header
            = t('alert.title')
            %button.close{data: {dismiss:'modal'}}
              .fa.fa-times
          .modal-body.center
            %h4= t('alert.apply_cashout')
    #messageModal.modal.fade{tabindex: -1, role: 'dialog', aria: {labelledby:'modal', hidden: 'true'}}
      .modal-dialog
        .modal-content
          .modal-header
            = t('alert.title')
            %button.close{data: {dismiss:'modal'}}
              .fa.fa-times
          .modal-body.center
            %h4= t('alert.signup_success')